<style type="text/css">
  .aa {
    width: 40%;
  }
  .bb {
    margin-left: 20px;
  }
  .cc {
    height: 32px;
  }
  .dd {
    width: 86%;
    float: right;
  }
</style>
<%#= stylesheet_link_tag "application", media: "all" %>
<%= form_for [:admin, @task_template], validate: true, html: {class: 'form'} do |f| %>
  <div class="modal-body">
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label">任务名称<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.text_field :name, maxlength: 50, class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">任务类型<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.select :task_category_id, TaskCategory.pluck(:name, :id), {} ,maxlength: 50, class: "col-xs-12 cc" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">任务级别<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.select :task_level_id, TaskTemplate.task_level_id_options, {}, class: "col-xs-12 cc" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">管理部门<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.select :department_id, Department.normal.map{|dep| [dep.to_s, dep.id] }, {}, class: "col-xs-12 cc" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">前置任务</label>
        <div class="clearfix">
          <%= f.select :prev_task_template_id, TaskTemplate.on.map{|t| [t.name, t.id] unless t.id == @task_template.id }.compact.unshift(['无',0]), {}, class: "col-xs-12 cc" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">前置间隔<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.select :prev_interval, TaskTemplate.interval, {}, class: "col-xs-12 cc" %>
        </div>
      </div>

      <div class="VCFields">
        <label class="control-label">任务执行周期<span class="required-star">*</span></label>
        <div class="radioTab">
          <label class="control-label">
            <%= f.radio_button :task_type, 1, checked: @task_template.task_type1?, id: "task_type", data: {toggle: 'radioTab', target: "radioTab1" }, class: 'ace'  %>
            <span class="lbl">每天</span>
          </label>
          <label class="control-label">
            <%= f.radio_button :task_type, 2, checked: @task_template.task_type2?, id: "task_type", data: {toggle: 'radioTab', target: "radioTab2" }, class: 'ace'  %>
            <span class="lbl">每月</span>
          </label>
          <label class="control-label">
            <%= f.radio_button :task_type, 3, checked: @task_template.task_type3?, id: "task_type", data: {toggle: 'radioTab', target: "radioTab2" }, class: 'ace'  %>
            <span class="lbl">每季度</span>
          </label>
          <label class="control-label">
            <%= f.radio_button :task_type, 4, checked: @task_template.task_type4?, id: "task_type", data: {toggle: 'radioTab', target: "radioTab2" }, class: 'ace'  %>
            <span class="lbl">每半年</span>
          </label>
          <label class="control-label">
            <%= f.radio_button :task_type, 5, checked: @task_template.task_type5?, id: "task_type", data: {toggle: 'radioTab', target: "radioTab2" }, class: 'ace'  %>
            <span class="lbl">每年</span>
          </label>
        </div>

        <div class="radio-tab-content">
          <div id="radioTab1" class="radio-tab-pane <%= 'hide' unless f.object.task_type1? %>">
            <div class="form-group">
              <div class="clearfix">
                <% for i in 1..7 %>
                  <label><%= check_box_tag 'week_items[]', i, @task_template.week_items.to_s.split(',').include?(i.to_s) %> <%= week(i) %></label>
                <% end %>
              </div>
            </div>

            <div class="form-group">
              <div class="clearfix">
                <label><%= f.radio_button :day_type, 1, checked: @task_template.day_type1? %>&nbsp;&nbsp;<span>单天1次（不限时）</span></label>
              </div>
            </div>

            <div class="form-group">
              <div class="clearfix">
                <label><%= f.radio_button :day_type, 2, checked: @task_template.day_type2? %>&nbsp;&nbsp;<span>单天按时</span></label><br/>
                <% for i in 0..23 %>
                  <label><%= check_box_tag 'hour_items[]', i, @task_template.hour_items.to_s.split(',').include?(i.to_s) %> <%= i < 10 ? "0#{i}" : i %>点</label>
                <% end %>
              </div>
            </div>

          </div>

          <div id="radioTab2" class="radio-tab-pane <%= 'hide' unless f.object.task_type2? %>">
            <div class="clearfix">
              执行次数:<%= f.select :task_times, TaskTemplate.time.map{|v, k| [v, k]}, {}, class: "aa bb cc" %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="clearfix"></div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-primary form-submit" data-fn="submit">确定</button>
    <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">取消</button>
  </div>
<% end %>
