<% content_for :main_content do %>
  <div class="main-content ">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= '问题管理' %></li>
      </ul>
    </div>

    <div class="page-content">
      <%= form_for @search, url: admin_issues_path, html: { method: :get } do |f| %>
        <div class="no-padding col-md-12">
          <div class="col-md-2">
            <div class="input-group input-group-text">
              <%= f.text_field :title_like, class: "col-xs-12 cc", placeholder: '问题' %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-text">
              <span class="input-group-addon">提交时间：</span>
              <%=f.text_field :created_at_between, value:"#{params[:search][:created_at_gte]} - #{params[:search][:created_at_lte]}",class: 'col-xs-12 datetimerange' %>
            </div>
          </div>

          <div class="col-md-2">
            <%= f.select :issue_type_id_eq, IssueType.pluck(:name, :id), {:include_blank => '类型'} ,maxlength: 50, class: "col-xs-12 cc" %>
          </div>

          <div class="col-md-2">
            <%= f.select :level_eq, Issue.level_options, {:include_blank => '级别'}, class: "col-xs-12 cc" %>
          </div>

          <div class="col-md-2">
            <%= f.select :status_eq, Issue.status_options, {:include_blank => '处理状态'} ,maxlength: 50, class: "col-xs-12 cc" %>
          </div>
        </div>

        <div class="no-padding col-md-12 margin-top-20">
          <div class="col-md-4">
            <%= f.submit '查询', class: 'btn btn-sm btn-filter btn-primary' %>
          </div>
        </div>
      <% end %>

      <div class="col-md-12 margin-top-20">
        <table id="vweddingTable" class="table table-bordered table-hover dataTable">
          <thead>
          <tr>
            <th>问题</th>
            <th>类型</th>
            <th>级别</th>
            <th>提交人</th>
            <th>提交时间</th>
            <th>执行人</th>
            <!-- <th>领用状态</th> -->
            <th>处理状态</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
            <% @issues.each do |issue| %>
              <tr>
                <td><%= issue.title %></td>
                <td><%= issue.issue_type.try(:name) %></td>
                <td><%= issue.level_name %></td>
                <td><%= issue.user.try(:name) %></td>
                <td><%= issue.created_at %></td>
                <td><%= issue.solve_user.try(:name) %></td>
                <!-- <td><%= issue.state_name %></td> -->
                <td><%= issue.status_name %></td>
                <td>
                  <%= link_to '详情', admin_issue_path(issue) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="pagination page width-auto"><%= page_entries_info @issues %></div>
        <%= paginate @issues %>
      </div>
    </div>
  </div>

<% end %>
