<%=form_for [:admin, @shop_deposit_log], validate: true, html:{class: 'form' } do | f| %>
  <div class="modal-body">
    <div class="col-xs-12">

      <div class="form-group">
        <label class="control-label">调节金额<span class="required-star">*</span></label>
        <div class="clearfix">
        <%=f.text_field :amount, maxlength:50, class: "col-xs-12" %>
        </div>
      </div>
      <%= f.hidden_field :shop_id %>
      <%= f.hidden_field :direction %>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :balance_amount %>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-primary form-submit" data-fn="submit">确定</button>
    <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">取消</button>
  </div>

  <%end%>