<% content_for :main_content do %>
  <div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%=render 'partials/home' %>
          <li><%= '保证金流水' %></li>
      </ul>
    </div>

      <div class="page-content">
        <%= form_for @search, url: admin_shop_deposit_logs_path, html: {method: :get } do |f| %>
          <div class="col-md-12  no-padding">
            <div class="col-md-2">
              <%= f.select :shop_id_eq, Shop.pluck(:name, :id), {include_blank: '请选择商铺'}, class: 'col-md-12' %>
            </div>

            <div class="col-md-4">
              <div class="input-group input-group-text">
              <span class="input-group-addon">操作时间：</span>
              <%= f.text_field :created_at_between, class: 'col-xs-12 datetimerange', value: "#{params[:search][:created_at_gte]} - #{params[:search][:created_at_lte]}" %>
              </div>
            </div>

            <div class="col-md-4">
              <%= f.submit '查询', class: 'btn btn-sm btn-filter btn-primary' %>
            </div>

          </div>
      <%end%>

       <div class="col-md-12 margin-top-20">
         <table id="vweddingTable" class="table table-bordered table-hover dataTable">
           <thead>
             <tr>
               <th>店铺名称</th>
               <th>操作员</th>
               <th>变更金额</th>
               <th>当前可用余额</th>
               <th>备注</th>
               <th>创建时间</th>
               <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <% @shop_deposit_logs.each do |shop_deposit_log|%>
                <tr>
                  <td><%=shop_deposit_log.shop.name %></td>
                  <td><%=shop_deposit_log.user.name %></td>
                  <td><%=shop_deposit_log.direction_name %> <%=shop_deposit_log.amount %></td>
                  <td><%=shop_deposit_log.balance_amount %></td>
                  <td><%=shop_deposit_log.description %></td>
                  <td><%=shop_deposit_log.created_at %></td>
                  <td>
                  <%= link_to '查看', admin_shop_deposit_log_path(shop_deposit_log) %>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
        <div class="pagination page width-auto"><%= page_entries_info @shop_deposit_logs %></div>
        <%= paginate @shop_deposit_logs %>
      </div>
    </div>
  </div>
<%end%>