<%= form_for [:admin, @species], validate: true, html: {class: 'form'} do |f| %>
  <div class="modal-body">
    <div class="col-xs-12">
      <% unless @species.new_record? %>
        <div class="form-group">
          <label class="control-label">资产编号<span class="required-star">*</span></label>
          <div class="clearfix">
            <%= @species.no %>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <label class="control-label">资产分类<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.select :asset_category_id, AssetCategory.type3.pluck(:name, :id), {include_blank: '请选择分类'}, class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">资产名称<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.text_field :name, class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">资产来源<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.select :asset_source_id, Species.asset_source_id_options, {}, class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">规格型号<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.text_field :scale, class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">存放仓库<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.select :warehouse_id, Warehouse.normal.pluck(:name, :id), {include_blank: '请选择仓库'}, class: "col-xs-12" %>
        </div>
      </div>

     <% unless @species.new_record? %>
      <div class="form-group">
        <label class="control-label">库存数量<span class="required-star">*</span></label>
        <div class="clearfix">
          <%# if @species.new_record? %>
            <%#= f.text_field :qty, class: "col-xs-12" %>
            <%= @species.qty %>
        </div>
      </div>
     <%end%>

    </div>
  </div>

  <div class="clearfix"></div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-primary form-submit" data-fn="submit">确定</button>
    <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">取消</button>
  </div>
<% end %>
