<%= form_for @species_adjustment, url: deal_admin_species_path(@species), method: :post, validate: true, html: {class: 'form'} do |f| %>
  <div class="modal-body">
    <div class="col-xs-12">

      <div class="form-group">
        <label class="control-label">资产编号: <%= @species.no %></label>
      </div>

      <div class="form-group">
        <label class="control-label">资产名称: <%= @species.name %></label>
      </div>

      <div class="form-group">
        <label class="control-label">操作类型</label>
        <div class="clearfix">
          <%= f.select :operate_type_id, SpeciesAdjustment.operate_type_id_options, {include_blank: '请选择操作类型'}, class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">相关数量<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.text_field :qty, value: '', class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">相关备注</label>
        <div class="clearfix">
          <%= f.text_area :description, cols: 2, rows: 10, class: "col-xs-12" %>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-primary form-submit" data-fn="submit">确定</button>
    <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">取消</button>
  </div>
<% end %>
