<% content_for :main_content do %>
  <div class="main-content ">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= link_to '物种资产管理', admin_species_index_path %></li>
        <li><%= link_to '物种资产列表' %></li>
      </ul>
    </div>

    <div class="page-content">
      <%= form_for @search, url: admin_species_index_path, html: { method: :get } do |f| %>
        <div class="no-padding col-md-12">
          <div class="col-md-2">
            <div class="input-group input-group-text">
              <%= f.text_field :no_or_name_like, placeholder: '请输入资产编号/名称', class: "col-xs-12" %>
            </div>
          </div>

          <div class="col-md-4">
            <div class="input-group input-group-text">
              <span class="input-group-addon ">创建时间：</span>
              <%= f.text_field :created_at_created_at_between, class: "col-xs-12 cc datetimerange", value: "#{params[:search][:created_at_gte]} - #{params[:search][:created_at_lte]}" %>
            </div>
          </div>

          <div class="col-md-2">
            <%= f.select :asset_category_id_eq, AssetCategory.type3.pluck(:name, :id), {:include_blank => '请选择分类'}, class: "col-xs-12" %>
          </div>

          <div class="col-md-4">
            <%= f.submit '查询', class: 'btn btn-sm btn-filter btn-primary' %>
            <a class="btn btn-primary btn-sm pull-right" data-target="addBrand" data-toggle="modals" data-title="新增物种" data-height="1000" data-iframe="/admin/species/new">新增</a>
          </div>
        </div>
      <% end %>

      <div class="col-md-12 margin-top-20">
        <table id="vweddingTable" class="table table-bordered table-hover dataTable ">
          <thead>
            <tr>
              <th>资产编号</th>
              <th>资产名称</th>
              <th>规格型号</th>
              <th>所属分类</th>
              <th>所属仓库</th>
              <th>库存数量</th>
              <th>创建时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% @species.each do |species| %>
              <tr>
                <td><%= species.no %></td>
                <td><%= species.name %></td>
                <td><%= species.scale %></td>
                <td><%= species.asset_category.try(:name) %></td>
                <td><%= species.warehouse.try(:name) %></td>
                <td><%= species.try(:qty) %></td>
                <td><%= species.created_at %></td>
                <td>
                  <a href="javascript:;" class="fgreen" data-target="editAsset" data-toggle="modals" data-title="物种数量调整" data-height="1000" data-iframe="/admin/species/<%= species.id%>/adjust?type=1">入库</a>
                  <a href="javascript:;" class="fgreen" data-target="editAsset" data-toggle="modals" data-title="物种数量调整" data-height="1000" data-iframe="/admin/species/<%= species.id %>/adjust?type=5">数量调整</a>
                  <a href="javascript:;" class="fgreen" data-target="editAsset" data-toggle="modals" data-title="编辑资产" data-height="1000" data-iframe="/admin/species/<%= species.id %>/edit">编辑</a>
                  <%= link_to '删除', admin_species_path(species), method: :delete, data: {confirm: '确定删除？'} %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="pagination page width-auto"><%= page_entries_info @species %></div>
        <%= paginate @species %>
      </div>
    </div>

  </div>
<% end %>
