<%= form_for @product, url: @product.new_record? ? wap_products_path : wap_product_path(@product) do |f| %>
  商品来源: <%= f.select :source, Product.source_options %><br>
  来源方: <%= f.select :shop_customer_id, ShopCustomer.normal.pluck(:name, :id) %><br>
  入库人: <%= f.select :shop_user_id, ShopUser.normal.pluck(:name, :id) %><br>
  商品名称: <%= f.text_field :name %><br>
  所属品牌: <%= f.select :brand_id, Brand.normal.pluck(:name, :id), {include_blank: '请选择'} %><br>
  商品分类: <%= f.select :product_category_id, ProductCategory.normal.pluck(:name, :id), {include_blank: '请选择'} %><br>
  规格型号: <%= f.text_field :specification %><br>
  商品颜色: <%= f.text_field :color %><br>
  商品尺寸: <%= f.text_field :size %><br>
  存放仓库: <%= f.select :warehouse_id, Warehouse.normal.pluck(:name, :id) %><br>
  商品数量: <%= f.text_field :quantity %><br>
  成本价: <%= f.text_field :purchase_price %><br>
  同行价: <%= f.text_field :peer_price %><br>
  销售价: <%= f.text_field :sell_price %><br>
  工价: <%= f.text_field :wages %><br>
  商品备注: <br>
  <%= f.text_area :description, rows: 5 %><br>

    附件情况 : <br>

  <%= hidden_field_tag 'product[tag_ids][]', '' %>
          <% Tag.all.each do |tag| %>
          <label style="width: 45%;">
            <%= check_box_tag 'product[tag_ids][]', tag.id, @product.product_tags.map{|m| m.tag_id}.include?(tag.id) %>
            <%= tag.name %>
          </label>
        <% end %>

  <%= f.submit "#{@product.new_record? ? '入库' : '保存'}" %>
<% end %>