<% provide(:title, "查询管理") %>

库存量 <%= @products.sum(:quantity) %>&nbsp;&nbsp;
库存成本: <%= @products.sum(:purchase_price) %>&nbsp;&nbsp;
SKU数: <%= @products.group(:no).count.size %>&nbsp;&nbsp;
超期商品: <%= @products.count %>

<table>
  <thead>
    <th>商品</th>
    <th>销售价</th>
    <th>库存</th>
    <th>入库日期</th>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.sell_price %></td>
        <td><%= product.quantity %></td>
        <td><%= product.created_at %></td>
        <td><%= link_to '详情', wap_product_path(product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '商品入库', new_wap_product_path %>