<% provide(:title, "商品数量调整") %>

<h3><%= @product.brand.try(:name) %> <%= @product.product_category.try(:name) %></h3>
<%= @product.name %><br>
No.<%= @product.no %><br>
<%= @product.quantity %>件在库 | <%= @product.shop.name %>
<br><br><br>

<%= form_for @product, url: change_qty_wap_product_path(@product), method: :post do |f| %>
调整后数量: <%= f.text_field :quantity %><br>
调整原因: <br>
<%= f.select :adjustment_reason, Product.adjustment_reason_options %><br>
<%= f.submit "确定" %>
<% end %>