<% provide(:title, "入库完成") %>

<%= @product.name %>&nbsp;&nbsp;<%= @product.quantity %>件

<h4>No: <%= @product.no %></h4>

入库已经完成<br>

<%= link_to '继续入库', new_wap_product_path %>&nbsp;&nbsp;
<%= link_to '进入商品管理', wap_products_path %>
<br>

<%= link_to '返回首页', wap_root_path %>