<% provide(:title, "人员管理") %>
<table>
  <thead>
    <th>名称</th>
    <th>订单</th>
    <th>回收</th>
    <th>寄卖</th>
    <th></th>
  </thead>
  <tbody>
    <% @shop_users.each do |shop_user| %>
      <tr>
        <td><%= shop_user.name %></td>
        <td><%= shop_user.shop.orders.count %></td>
        <td><%= shop_user.products.source1.count %></td>
        <td><%= shop_user.products.source2.count %></td>
        <td>
          <%= link_to '修改', edit_wap_shop_user_path(shop_user) %>
          <%= link_to '删除', wap_shop_user_path(shop_user), method: :delete, data: {confirm: '确定删除?'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br><br>

<%= link_to '创建新员工', new_wap_shop_user_path %>