<%= form_for @asset_item, url: @asset_item.new_record? ? admin_asset_items_path(@asset) : admin_asset_item_path(@asset), validate: true, html: {class: 'form'} do |f| %>
  <%= hidden_field_tag 'asset_item[total_price]', @asset_item.try(:total_price)%>
  <div class="modal-body">
    <div class="col-xs-12">

      <div class="form-group">
        <label class="control-label">资产名称<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.text_field :name, class: "col-xs-12 cc" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">规格型号<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.text_field :scale, class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">厂商<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.text_field :merchant,  class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">参考单价(元)<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.text_field :price, class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">采购数量<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.text_field :qty, class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">总价 <span id="total_price"><%= @asset_item.total_price %></span> 元</label>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-primary form-submit" data-fn="submit">确定</button>
    <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">取消</button>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#asset_item_price').change(function(){
      var total_price = $(this).val() * $('#asset_item_qty').val()
      $('#total_price').html(total_price);
      $('#asset_item_total_price').val(total_price);
    });

    $('#asset_item_qty').change(function(){
      var total_price = $(this).val() * $('#asset_item_price').val()
      $('#total_price').html(total_price);
      $('#asset_item_total_price').val(total_price);
    })
  })
</script>>
