<style type="text/css">
  #uploadImg{ font-size:12px; overflow:hidden; position:absolute}
  #file{ position: absolute; z-index: 100; font-size: 30px; opacity: 0; filter: alpha(opacity=0); width: 100px; }
  .select {
    width: 145px;
    height: 42px;
    padding-left: 10px;
  }
</style>
<% content_for :main_content do %>
  <div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%=render 'partials/home' %>
          <li><%= '内容管理' %></li>
      </ul>
    </div>

      <div class="page-content">
        <%= form_for @search, url: admin_guide_infos_path, html: {method: :get } do |f| %>
          <div class="col-md-12 no-padding">
            <div class="col-md-2">
              <div class="input-group input-group-text ">
                <%= f.select :guide_type_eq, GuideInfo.guide_type_options[0..2], {include_blank: '请选择类型'}, class: 'col-xs-12 select' %>
              </div>
            </div>

            <div class="col-md-2">
              <%= f.submit '查询', class: 'btn btn-primary btn-sm btn-filter' %>
            </div>
            <div class="col-md-8">
              <a href="javascript:;" class="btn btn-primary btn-sm pull-right " data-target="add" data-toggle="modals" data-title="新增内容" data-height="800" data-iframe="<%= new_admin_guide_info_path %>">新增</a>
            </div>
          </div>

      <%end%>

       <div class="col-md-12 margin-top-20">
         <table id="vweddingTable" class="table table-bordered table-hover dataTable">
           <thead>
             <tr>
               <th>类型</th>
               <th>标题</th>
               <th>创建时间</th>
               <th>排序位</th>
               <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <% @guide_infos.each do |guide_info|%>
                <tr>
                  <td><%=guide_info.guide_type_name %></td>
                  <td><%=guide_info.title %></td>
                  <td><%=guide_info.created_at %></td>
                  <td><%=guide_info.position %></td>
                  <td>
                  <%=link_to '编辑', 'javascript:;', class: 'fgreen',data:{target: "editSuppliee",toggle: 'modals', title: '编辑内容',height: '800',
                     iframe:admin_guide_info_path(guide_info) } %>
                    <%=link_to '删除', admin_guide_info_path(guide_info), method: :delete, data: {confirm: '确定删除?'} %>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
        <div class="pagination page width-auto"><%= page_entries_info @guide_infos %></div>
        <%= paginate @guide_infos %>
      </div>
    </div>
  </div>
<%end%>