<%= form_for [:admin, @shop], validate: true, html:{class: 'form' } do | f| %>
  <div class="modal-body">
    <%= f.fields_for :admin_shop_user, validate: true do |shop_user| %>
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label">管理员姓名<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= shop_user.text_field :name, maxlength: 50, autocomplete: 'off', class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">登录账号<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= shop_user.text_field :login_name, maxlength: 50, autocomplete: 'off', class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">登录密码<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= shop_user.text_field :password, maxlength: 30, autocomplete: 'off', onfocus: "this.type='password'", class: "col-xs-12" %>
        </div>
      </div>
    </div>
<% end %>
  
    <div class="col-xs-12">

      <div class="form-group">
        <label class="control-label">商铺名称<span class="required-star">*</span></label>
        <div class="clearfix">
        <%=f.text_field :name, maxlength:50, class: "col-xs-12" %>
        </div>  
      </div>

      <div class="form-group">
        <label class="control-label">商铺规模</label>
        <div class="clearfix">
        <%=f.select :scale, Shop.scale_options[0..3], {}, class: "col-xs-12" %>
        </div>  
      </div>

      <div class="form-group">
        <label class="control-label">商铺信用分</label>
        <div class="clearfix">
        <%=f.select :credit, Shop.credit_options[0..5], {}, class: "col-xs-12" %>
        </div>  
      </div>

    <div class="form-group">
      <label class="control-label">地址</label>
      <div class="clearfix">
        <%= f.select :province_id, Province.pluck(:name, :id), {include_blank: '请选择省份'} , class: "col-xs-4 cc"%>
        <%= f.select :city_id, @shop.new_record? || @shop.province.blank? ? @shop.province.cities.pluck(:name, :id) : [] , {include_blank: '请选择城市'}, class: "col-xs-4 bb cc"%>
        <%= f.select :district_id, @shop.new_record? || @shop.city.blank? ? @shop.city.districts.pluck(:name, :id) : [] , {include_blank: '请选择地区'},class: "col-xs-4 bb cc"%>
        </div>
      </div>

    <div class="form-group">
      <label class="control-label">具体地址</label>
      <div class="clearfix">
          <%=f.text_field :address, maxlength:50, class: "col-xs-12" %>
      </div>
    </div>

      <div class="form-group">
        <label class="control-label">排序</label>
        <div class="clearfix">
         <%=f.text_field :position, class: "col-xs-12 "%>  
        </div>  
      </div>

      <div class="form-group">
        <label class="control-label">状态</label>
        <div class="clearfix">
         <%= f.select :status, Shop.status_options[0..1], {}, class: "col-xs-12" %>
        </div>  
      </div>

    </div>
  </div>

  <div class="clearfix"></div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-primary form-submit" data-fn="submit">确定</button>
    <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">取消</button>
  </div>

  <%end%>

  <script type="text/javascript">
    $(document).ready(function() {
      //更新地址栏省市区数据
      function refreshCityOptions(province_id) {
        $.ajax({
          // url: "/invite/cities",
          url: "<%= cities_addresses_path %>",
          data: { "province_id": province_id },
          dataType: 'json',
          success: function(result){
            var options = $("#shop_city_id");
            options.empty(); // remove old options
            options.append($("<option></option>").attr("value", '').text('请选择城市'));
            var shop_district_options = $("#shop_district_id");
            shop_district_options.empty(); // remove old options
            shop_district_options.append($("<option></option>").attr("value", '').text('请选择地区'));
            $.each(result, function(index, option) {
              options.append($("<option></option>")
                .attr("value", option.id).text(option.name));
            });
          }
        });
      }

      $("#shop_province_id").on('change', function(e){
        var province_id = $(this).val();
        refreshCityOptions(province_id);
      });

      function refreshCityOption(city_id) {
        $.ajax({
          url: "<%= districts_addresses_path %>",
          data: { "city_id": city_id },
          dataType: 'json',
          success: function(result){
            var options = $("#shop_district_id");
            options.empty(); // remove old options
            options.append($("<option></option>").attr("value", '').text('请选择地区'));
            $.each(result, function(index, option) {
              options.append($("<option></option>")
                .attr("value", option.id).text(option.name));
            });
          }
        });
      }

      $("#shop_city_id").on('change', function(e){
        var city_id = $(this).val();
        refreshCityOption(city_id);
      });
    });
  </script>