<style type="text/css">
  #uploadImg{ font-size:12px; overflow:hidden; position:absolute}
  #file{ position: absolute; z-index: 100; font-size: 30px; opacity: 0; filter: alpha(opacity=0); width: 100px; }
  .select {
    width: 145px;
    height: 42px;
    padding-left: 10px;
  }
</style>
<% content_for :main_content do %>
  <div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%=render 'partials/home' %>
          <li><%= '品牌类型' %></li>
      </ul>
    </div>

      <div class="page-content">
        <%= form_for @search, url: admin_shops_path, html: {method: :get } do |f| %>
          <div class="col-md-12  row">
            <div class="col-md-2">
              <div class="input-group input-group-text ">
                  <%= f.select :province_id_eq, Province.pluck(:name, :id), {include_blank: '请选择省份'}, class: 'col-xs-12 select' %>
              </div>
            </div>

            <div class="col-md-2">
              <div class="input-group input-group-text ">
                  <%= f.select :city_id_eq, City.where(province_id: @search.province_id_eq).pluck(:name, :id), {include_blank: '请选择城市'}, class: 'col-xs-12 select' %>
              </div>
            </div>

            <div class="col-md-2">
              <div class="input-group input-group-text ">
                  <%= f.select :district_id_eq, District.where(city_id: @search.city_id_eq).pluck(:name, :id), {include_blank: '请选择区域'}, class: 'col-xs-12 select' %>
              </div>
            </div>

            <div class="col-md-2">
              <div class="input-group input-group-text ">
                  <%= f.select :scale_eq, Shop.scale_options[0..2], {include_blank: '请选择规模'}, class: 'col-xs-12 select' %>
              </div>
            </div>
            
            <div class="col-md-2">
              <div class="input-group input-group-text ">
                  <%= f.select :credit_eq, Shop.credit_options[0..4], {include_blank: '请选择信用'}, class: 'col-xs-12 select' %>
              </div>
            </div>

            <div class="col-md-2">
              <div class="input-group input-group-text ">
                  <%=f.text_field :name_like, placeholder:"店铺名称", class: 'col-xs-12 cc'%>
              </div>
            </div>
          </div>

          <div class="col-sm-12  margin-top-10 row">
            <div class="col-md-12">
            <%= f.submit '查询', class: 'btn btn-primary btn-sm btn-filter' %>
            <a href="javascript:;" class="btn btn-primary btn-sm margin-left-10 " data-target="add" data-toggle="modals" data-title="新增品牌类型" data-height="10000" data-iframe="<%= new_admin_shop_path %>">新增</a>
            </div>
          </div>

      <%end%>

       <div class="col-md-12 margin-top-20">
         <table id="vweddingTable" class="table table-bordered table-hover dataTable">
           <thead>
             <tr>
               <th>名称</th>
               <th>位置</th>
               <th>地址</th>
               <th>规模</th>
               <th>信用分</th>
               <th>总商品数</th>
               <th>总订单数</th>
               <th>30天新商品数</th>
               <th>30天新订单数</th>
               <th>账户保证金</th>
               <th>可用保证金</th>
               <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <% @shops.each do |shop|%>
                <tr>
                  <td><%=shop.name %></td>
                  <td><%=shop.province.name %> - <%=shop.city.name %> - <%=shop.district.name %></td>
                  <td><%=shop.address %></td>
                  <td><%=shop.scale_name %></td>
                  <td><%=shop.credit %></td>
                  <td><%=shop.name %></td>
                  <td><%=shop.name %></td>
                  <td><%=shop.name %></td>
                  <td><%=shop.name %></td>
                  <td><%=shop.name %></td>
                  <td><%=shop.name %></td>
                  <td>
                  <%=link_to '编辑', 'javascript:;', class: 'fgreen',data:{target: "editSuppliee",toggle: 'modals', title: '编辑品牌类型',height: '1000',
                     iframe:admin_shop_path(shop) } %>
                  <%= link_to '冻结', frost_admin_shop_path(shop), method: :put, data: {confirm: '确定冻结该商铺？'} if shop.normal? %>
                  <%= link_to '解冻', normal_admin_shop_path(shop), method: :put, data: {confirm: '确定解冻该商铺？'} if shop.frost? %>
                  <a href="javascript:;" data-target="add" data-toggle="modals" data-title="充值" data-height="10000" data-iframe="<%= new_admin_shop_deposit_log_path(shop_id: shop.id, direction: 1) %>">充值</a>
                  <a href="javascript:;" data-target="add" data-toggle="modals" data-title="充值" data-height="10000" data-iframe="<%= new_admin_shop_deposit_log_path(shop_id: shop.id, direction: 0) %>">提取</a>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
        <div class="pagination page width-auto"><%= page_entries_info @shops %></div>
        <%= paginate @shops %>
      </div>
    </div>
  </div>
<%end%>
<script type="text/javascript">
     $("#search_province_id_eq").on('change', function(e){
      var province_id = $(this).val();
      refreshCityOptions(province_id);
    });

     function refreshCityOptions(province_id) {
      $.ajax({
        url: "<%= cities_addresses_path %>",
        data: { "province_id": province_id},
        dataType: 'json',
        success: function(result){
          var options = $("#search_city_id_eq");
          options.empty(); // remove old options
          options.append($("<option></option>").attr("value", '').text('请选择城市'));
          $.each(result, function(index, option) {
            options.append($("<option></option>")
              .attr("value", option.id).text(option.name));
          });
        }
      });
    }

    $("#search_city_id_eq").on('change', function(e){
      var city_id = $(this).val();
      refreshDistrictOptions(city_id);
    });
    function refreshDistrictOptions(city_id) {
      $.ajax({
        url: "<%= districts_addresses_path %>",
        data: { "city_id": city_id},
        dataType: 'json',
        success: function(result){
          var options = $("#search_district_id_eq");
          options.empty(); 
          options.append($("<option></option>").attr("value", '').text('请选择地区'));
          $.each(result, function(index, option) {
            options.append($("<option></option>")
              .attr("value", option.id).text(option.name));
          });
        }
      });
    }

  </script>