<% provide(:title, "销售报表") %>
<table>
  <thead>
    <tr>
      <th>订单价格</th>
      <th>订单成本</th>
      <th>商品数</th>
      <th>订单日期</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.amount %></td>
        <td><%= order.sell_price %></td>
        <td><%= order.order_items.sum(:quantity) %></td>
        <td><%= order.created_at %></td>
        <td><%= link_to '详情', wap_product_path(product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>