<% provide(:title, "开销售单") %>

<%= nested_form_for @order, url: wap_orders_path do |f| %>
  销售客户: <%= f.select :shop_customer_id, ShopCustomer.pluck(:name, :id) %><br>
  结算方式: <%= f.select :settlement_type, Order.settlement_type_options %>
  <!-- 销售员:  -->
  商品: 

  <%= f.fields_for :order_items do |order_item| %>
    <%= order_item.select :product_id, Product.pluck(:name, :id) %>&nbsp;
    数量: <%= order_item.text_field :quantity, style: 'width: 30px;' %>
    <%= order_item.link_to_remove "删除" %>
  <% end %>
  <p><%= f.link_to_add "添加商品", :order_items %></p>
  <br>

  配送方式: <%= f.select :dilivery_way, Order.dilivery_way_options %><br>

  <br><br>

  <%= f.submit "开单" %>

<% end %>