<%= form_for @brand, url: @brand.new_record? ? admin_brands_path : admin_brand_path(@brand), validate: true, html: {class: 'form'} do |f| %>
  <div class="modal-body">
    <div class="col-xs-12">

      <div class="form-group">
        <label class="control-label">品牌中文名</label>
        <div class="clearfix">
        <%=f.text_field :name, maxlength:50, class: "col-xs-12" %>
        </div>  
      </div>

      <div class="form-group">
        <label class="control-label">品牌英文名</label>
        <div class="clearfix">
        <%=f.text_field :name_en, maxlength:50, class: "col-xs-12" %>
        </div>  
      </div>

      <div class="form-group">
        <label class="control-label">排序</label>
        <div class="clearfix">
         <%=f.text_field :position, class: "col-xs-12 "%>  
        </div>  
      </div>

      <div class="form-group">
        <label class="control-label">描述</label>
        <div class="clearfix">
         <%= f.text_area :description, rows: 4, cols: 20,  class: "col-xs-12" %>
        </div>  
      </div>

      <div class="form-group">
        <label class="control-label">分类</label>
        <div class="clearfix">
          <p><label><input type='checkbox' class='toggle' /> 全选/反选</label></p>
          <%= hidden_field_tag 'brand[product_category_ids][]', '' %>
          <% ProductCategory.all.each do |product_category| %>
          <label style="width: 18%;">
            <%= check_box_tag 'brand[product_category_ids][]', product_category.id, @brand.brand_category_maps.map{|m| m.product_category_id}.include?(product_category.id) %>
            <%= product_category.name %>
          </label>
        <% end %>
        </div>
      </div>

    </div>
  </div>

  <div class="clearfix"></div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-primary form-submit" data-fn="submit">确定</button>
    <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">取消</button>
  </div>

  <%end%>
  <script type="text/javascript">
  $(document).ready(function() {

    // toggle checkbox
    // <label><input type='checkbox' class='checkbox toggle' />全选/反选</label>
    $(':checkbox.toggle').on('click', function() {
      $(":checkbox:not(.toggle)").each( function(i, checkbox) {
        checkbox.checked = !checkbox.checked;
      });
    });

  });
</script>