<style type="text/css">
  .aa{
    margin-left: 15px;
  }
  .cc {
    height: 32px;
  }
</style>

<%= form_for [:admin, @department], validate: true, html: {class: 'form'} do |f| %>
  <div class="modal-body">
    <div class="col-xs-12">

      <% if @department.new_record? || !@department.admin? %>
        <div class="form-group">
          <label class="control-label">上级部门<span class="required-star">*</span></label>
          <div class="clearfix">
            <%= f.select :parent_id, Department.all.map{|m| [m.to_s, m.id] }, {include_blank: '请选择'}, class: "col-xs-12 cc", disabled: @department.is_default? %>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <label class="control-label">部门名称<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.text_field :name, maxlength: 30, class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">部门编号<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.text_field :no, maxlength: 20, class: "col-xs-12", disabled: @department.is_default? %>
        </div>
      </div>

      <% unless @department.new_record? %>
        <div class="form-group" id="salesman">
          <label class="control-label">部门主管</label>
          <div class="clearfix">
            <%= f.select :user_id, User.normal.pluck(:name, :id), {include_blank: '请选择'} ,class: "col-xs-12" %>
          </div>
        </div>

        <div class="form-group" id="salesman">
          <label class="control-label">分管领导</label>
          <div class="clearfix">
            <%= f.select :sub_leader_id, User.normal.pluck(:name, :id), {include_blank: '请选择'} ,class: "col-xs-12" %>
          </div>
        </div>

        <div class="form-group" id="salesman">
          <label class="control-label">资产管理员</label>
          <div class="clearfix">
            <%= f.select :asset_user_id, @department.users.pluck(:name, :id), {include_blank: '请选择'} ,class: "col-xs-12" %>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <label class="control-label">部门描述</label>
        <div class="clearfix">
          <%= f.text_area :description, rows: 4, cols: 20,  class: "col-xs-12" %>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-primary form-submit" data-fn="submit">确定</button>
    <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">取消</button>
  </div>
<% end %>
