<% provide(:title, "历史记录") %>

<%= link_to "回收记录 #{@rec_records_count}", wap_item_records_path(type: 'rec') %>&nbsp;&nbsp;
<%= link_to "寄售记录 #{@con_records_count}", wap_item_records_path(type: 'con') %>&nbsp;&nbsp;
<%= link_to "销售记录 #{@sel_records_count}", wap_item_records_path(type: 'sel') %>&nbsp;&nbsp;

<table>
  <thead>
    <th>名称</th>
    <th>时间</th>
    <th>数量</th>
    <th>成本价</th>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.is_a?(Product) ? record.name : record.product.name %></td>
        <td><%= record.created_at %></td>
        <td><%= record.quantity %></td>
        <td><%#= record.created_at %></td>
        <td><%#= link_to '详情', wap_product_path(product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
