<style type="text/css">
  .select2-sm {
    padding: 3px 4px;
    height: 41px;
    color: #858585;
  }
  .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px; 
  }
  .select2-choice {
    border-radius: 10px;
  }
  .select2-container .select2-choice {
    background: #FFF;
  }
  .select2-container .select2-choice > .select2-chosen {
    color: #858585;
  }
</style>

<script type="text/javascript">
  $(document).ready(function(){
    $(".js-example-basic-single").select2();
  })
</script>


<%=form_for [:admin, @visit], validate: true, html:{class: 'form'} do |f| %>
  <div class="modal-body">
    <div class="col-xs-12">
      <div class="form-group">
        <label class="contro-label">来访日期<span class="required-star">*</span></label>
        <div class="clearfix">
          <%=f.text_field :visit_date, class: "col-xs-12 datepicker"%>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">来访时间<span class="required-star">*</span></label>
        <div class="clearfix">
          <%=f.select :visit_at, Visit.visit_at_options,{:include_blank => '请选择时间'},class: "col-xs-12"%>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">来访类型<span class="required-star">*</span></label>
        <div class="clearfix">
          <%=f.select :visit_type_id,Visit.visit_type_id_options,{}, class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">来访单位</label>
        <div class="clearfix">
          <%=f.text_field :unit, class: "col-xs-12"%>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">来访人数<span class="required-star">*</span></label>
        <div class="clearfix">
          <%=f.text_field :visit_count, maxlength:10, class: "col-xs-12"%>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">来访联系人<span class="required-star">*</span></label>
        <div class="clearfix">
        <%=f.text_field :username, maxlength:50,class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">联系人手机<span class="required-star">*</span></label>
        <div class="clearfix">
          <%=f.text_field :tel, class: 'col-xs-12' %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">证件/车牌</label>
        <div class="clearfix">
          <%=f.text_field :car_no, maxlength:50,class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">来访接待人</label>
        <div class="clearfix">
          <%=f.select :receiver_id, User.pluck(:name, :id), {}, class: "col-xs-12 js-example-basic-single select2-sm" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">来访等级</label>
        <div class="clearfix">
          <%=f.select :visit_grade,Visit.visit_grade_options, {}, class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">接待等级</label>
        <div class="clearfix">
          <%=f.select :reception_grade,Visit.reception_grade_options, {}, class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">接待区域</label>
        <div class="clearfix">
          <%=f.text_area :reception_region, cols: 2, rows: 5, class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">接待路线</label>
        <div class="clearfix">
          <%=f.text_area :reception_line, cols: 2, rows: 5, class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">接待后勤</label>
        <div class="clearfix">
          <%= f.check_box :is_dinner %> 用餐
          <%= f.text_field :dinner_count, placeholder: '用餐人数', size: 20 %>
          <span class="pull-right">
            <%= f.check_box :is_stay %> 住宿
            <%= f.text_field :stay_count, placeholder: '住宿人数', size: 20 %>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">重点准备</label>
        <div class="clearfix">
        <%= hidden_field_tag 'visit[item_ids][]', '' %>
        <% Item.all.each do |item| %>
         <label>
           <%= check_box_tag 'visit[item_ids][]', item.id, @visit.visit_items.map{|m| m.item_id}.include?(item.id) %>
           <%= item.name %>&nbsp;&nbsp;
         </label>
         <%end%>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">接待备注</label>
        <div class="clearfix">
          <%=f.text_area :description, cols: 2, rows: 5, class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">接待反馈</label>
        <div class="clearfix">
          <%=f.text_area :reception_feedback, cols: 2, rows: 5, class: "col-xs-12" %>
        </div>
      </div>

    </div>
  </div>

  <div class="clearfix"></div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-primary form-submit" data-fn="submit">确定</button>
    <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">取消</button>
  </div>
<%end%>
