<% content_for :main_content do %>
  <div class="main-content">

    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= link_to '来访管理', admin_visits_path %></li>
      </ul>
    </div>

    <div class="page-content">
      <%= form_for @search, url: admin_visits_path, html: {method: :get } do |f| %>
        <div class="col-md-12 no-padding">
          <div class="col-md-2">
            <div class="input-group input-group-text">
              <%= f.text_field :unit_or_username_like, placeholder: '来访单位/联系人姓名', class: 'col-xs-12' %>
            </div>
          </div>

          <div class="col-md-3">
            <div class="input-group input-group-text">
              <span class="input-group-addon">来访日期：</span>
              <%= f.text_field :visit_date_between, class: 'col-xs-12 daterange', placeholder: '请输入来访日期范围', value: "#{params[:search][:visit_date_gte]} - #{params[:search][:visit_date_lte]}"%>
            </div>
          </div>

          <div class="col-md-7">
            <%= f.submit '查询', class: 'btn btn-sm btn-filter btn-primary' %>
            <a href="javascript:;" class="btn btn-primary btn-sm pull-right" data-target="addVisit" data-toggle="modals" data-title="新增来访" data-height="1000" data-iframe="<%= new_admin_visit_path %>">新增</a>
          </div>
        </div>
      <% end %>

      <div class="col-md-12 margin-top-20">
        <table id="vweddingTable" class="table table-scriped table-bordered table-hover dataTable">
          <thead>
            <tr>
              <th>来访日期</th>
              <th>来访时间</th>
              <th>来访单位</th>
              <th>来访联系人</th>
              <th>来访接待人</th>
              <th>创建时间</th>
              <th>操作</th>
            </tr>
          </thead>

          <tbody>
            <% @visits.each do |visit| %>
              <tr>
                <td><%=visit.visit_date %></td>
                <td><%=visit.visit_at_name %></td>
                <td><%=visit.unit %></td>
                <td><%=visit.username %></td>
                <td><%=visit.receiver.try(:name) %></td>
                <td><%=visit.created_at %></td>
                <td>
                  <%#= link_to '准备', pending_admin_visit_path(visit), method: :put, data: { confirm: "确定已准备?" } if visit.created? %>
                  <%#= link_to '完成', done_admin_visit_path(visit), method: :put, data: { confirm: "确定已完成?" } if visit.pending? %>
                  <%= link_to '编辑', 'javascript:;', class: 'fgreen', data: { target: "editVisit", toggle: 'modals', title: '编辑来访信息', height: '1000', iframe: admin_visit_path(visit) } %>
                  <%= link_to '删除', admin_visit_path(visit), method: :delete, data: { confirm: "确定删除?" } %>
                </td>
              </tr>
            <%end %>
          </tbody>
        </table>
        <div class="pagination page width-auto"><%= page_entries_info @visits %></div>
        <%= paginate @visits %>
      </div>
    </div>

  </div>
<%end %>
