<% content_for :main_content do %>
  <div class="main-content ">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= link_to '图片查询', admin_pictures_path %></li>
      </ul>
      <%#= render '/layouts/qrcode' %>
    </div>
    <div class="page-content">
      <div class="row">

        <div class="col-md-12 margin-top-20">
          <table id="vweddingTable" class="table table-bordered table-hover dataTable ">
            <thead>
            <tr>
              <th>员工姓名</th>
              <th>所属门店</th>
              <th>操作类型</th>
              <th>上传照片</th>
              <th>上传时间</th>
            </tr>
            </thead>
            <tbody>
            <% @pictures.each do |picture| %>
                <tr>
                  <td><%= picture.pictureable.try(:user).try(:name) %></td>
                  <td><%= picture.pictureable.try(:shop).try(:name) %></td>
                  <td><%= picture.pictureable.shop.address %></td>
                  <td><%= picture_type_str(picture.pictureable_type) %></td>
                  <td><%= picture.pic_key %></td>
                  <td><%= picture.created_at %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <div class="pagination page width-auto"><%= page_entries_info @pictures %></div>
          <%= paginate @pictures %>
        </div>
      </div>
    </div>
  </div>
<% end %>
