<% content_for :main_content  do %>
  <div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%=render 'partials/home' %>
        <li><%=link_to '盘点查询', admin_asset_checks_path%></li>
      </ul>
    </div>

    <div class="page-content">
      <%= form_for @search, url: admin_asset_checks_path, html: {method: :get } do |f| %>
        <div class="col-md-12 no-padding">
          <div class="col-md-2">
            <div class="input-group input-group-text ">
              <%=f.text_field :name_or_user_name_like, placeholder: '盘点名称/盘点人',class: 'col-xs-12 cc'%>
            </div>
          </div>

          <div class="col-md-4">
            <div class="input-group input-group-text">
              <span class="input-group-addon ">盘点时间：</span>
             <%=f.text_field :start_time_end_time_between, value:"#{params[:search][:start_time_gte]} - #{params[:search][:end_time_lte]}",class: 'col-xs-12 daterange' %> 
            </div>
          </div>

          <div class="col-md-2">
            <%=f.select :department_id_eq, Department.normal.map{|dep| [dep.to_s, dep.id] }, {:include_blank=>'盘点部门'},class: 'col-xs-12'%>
          </div>

          <div class="col-md-4">
             <%= f.submit '查询', class: 'btn btn-sm btn-filter btn-primary' %>
          </div>
        </div>
      <%end%>

      <div class="col-md-12 margin-top-20">
        <table id="vweddingTable" class="table table-bordered table-hover dataTable">
          <thead>
            <tr>
              <th>盘点名称</th>
              <th>盘点部门</th>
              <th>盘点人</th>
              <th>开始时间</th>
              <th>结束时间</th>
              <th>应盘</th>
              <th>实盘</th>
              <th>盘盈</th>
              <th>盘亏</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% @asset_checks.each do |asset_check|%>
             <tr>
               <td><%=asset_check.name %></td>
               <td><%=asset_check.department.name %></td>
               <td><%=asset_check.user.name %></td>
               <td><%=asset_check.start_time %></td>
               <td><%=asset_check.end_time %></td>
               <td><%=asset_check.asset_check_maps.count %></td>
               <td><%=asset_check.asset_check_maps.checked.count %></td>
               <td><%=asset_check.asset_check_maps.type2.count %></td>
               <td><%=asset_check.asset_check_maps.type3.count %></td>
               <td>
                 <%=link_to '查看详情', admin_asset_check_maps_path(id: asset_check.id) %>
               </td>
             </tr>
             <%end%>
          </tbody>
        </table>
        <div class="pagination page width-auto"><%= page_entries_info @asset_checks %></div>
        <%= paginate @asset_checks%>
      </div>

    </div>
  </div>
<%end%>