<% provide(:title, "来源方管理") %>
<table>
  <thead>
    <th>名称</th>
    <th>在库商品</th>
    <th>在存成本</th>
    <th>创建时间</th>
  </thead>
  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.name %></td>
        <td><%= supplier.products.count %>件</td>
        <td><%#= supplier. %></td>
        <td><%= supplier.created_at %></td>
        <td><%= link_to '详情', wap_supplier_path(supplier) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br><br>

<%= link_to '创建新来源方', new_wap_supplier_path %>