<style type="text/css">
  #uploadImg{ font-size:12px; overflow:hidden; position:absolute}
  #file{ position: absolute; z-index: 100; font-size: 30px; opacity: 0; filter: alpha(opacity=0); width: 100px; }
  .select {
    width: 145px;
    height: 42px;
    padding-left: 10px;
  }
</style>
<% content_for :main_content do %>
  <div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%=render 'partials/home' %>
          <li><%= '商品查询' %></li>
      </ul>
    </div>

      <div class="page-content">
        <%= form_for @search, url: admin_orders_path, html: {method: :get } do |f| %>
          <div class="col-md-12 no-padding">
            <div class="col-md-2">
              <div class="input-group input-group-text">
                <%=f.text_field :order_items_product_name_like, placeholder:"商品名称", class: 'col-xs-12 cc'%>
              </div>
            </div>

            <div class="col-md-4">
              <div class="input-group input-group-text">
              <span class="input-group-addon">操作时间：</span>
              <%= f.text_field :created_at_between, class: 'col-xs-12 datetimerange', value: "#{params[:search][:created_at_gte]} - #{params[:search][:created_at_lte]}" %>
              </div>
            </div>

            <div class="col-md-2">
              <div class="input-group input-group-text">
                <%= f.select :shop_id_eq, Shop.pluck(:name, :id), {include_blank: '请选择商铺'}, class: 'col-xs-12 select' %>
              </div>
            </div>

            <div class="col-md-2">
              <div class="input-group input-group-text">
                <%= f.select :order_items_product_product_category_id_eq, ProductCategory.pluck(:name, :id), {include_blank: '请选择分类'}, class: 'col-xs-12 select'  %>
              </div>
            </div>

            <div class="col-md-2">
              <div class="input-group input-group-text">
                <%= f.select :order_items_product_brand_id_eq, Brand.pluck(:name, :id), {include_blank: '请选择品牌'}, class: 'col-xs-12 select'  %>
              </div>
            </div>

          </div>

          <div class="col-sm-12  margin-top-10 row">
            <div class="col-md-12">
            <%= f.submit '查询', class: 'btn btn-primary btn-sm btn-filter' %>
            </div>
          </div>

      <%end%>

       <div class="col-md-12 margin-top-20">
         <table id="vweddingTable" class="table table-bordered table-hover dataTable">
           <thead>
             <tr>
               <th>订单编号</th>
               <th>商铺名称</th>
               <th>客户名称</th>
               <th>时间范围</th>
               <th>商品名称</th>
               <th>商品品牌</th>
               <th>销售单价</th>
              </tr>
            </thead>
            <tbody>
              <% @orders.each do |order|%>
              <tr>
              <td><%= order.id %></td>
              <td><%= order.shop.name %></td>
              <td><%= order.shop_customer.name %></td>
              <td><%= order.created_at %></td>
              <td>
                <% order.order_items.each do |order_item| %>
                  <%= order_item.product.name %><br>
                <% end %>
              </td>
              
              <td>
                <% order.order_items.each do |order_item| %>
                  <%= order_item.product.brand.name %><br>
                <% end %>
              </td>

              <td>
                <% order.order_items.each do |order_item| %>
                  <%= order_item.price %><br>
                <% end %>
              </td>

              </tr>
            <%end%>
          </tbody>
        </table>
        <div class="pagination page width-auto"><%= page_entries_info @orders %></div>
        <%= paginate @orders %>
      </div>
    </div>
  </div>
<%end%>