<% content_for :main_content do %>
  <div class="main-content ">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= link_to '任务查询', admin_tasks_path %></li>
        <li><%= link_to '查看任务详情', 'javascript:;' %></li>
      </ul>
      <%#= render '/layouts/qrcode' %>
    </div>

    <div class="page-content">
      <div class="col-md-12">
        <h5>任务基本信息</h5>
        <table id="vweddingTable" class="table table-bordered table-hover dataTable">
          <thead>
          <tr>
            <th width="25%">任务名称</th>
            <th width="15%">任务类型</th>
            <th width="10%">任务部门</th>
            <th width="15%">任务级别</th>
            <th width="10%">任务状态</th>
            <th width="25%">任务时间</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @task.name %></td>
              <td><%= @task.task_category.try(:name) %></td>
              <td><%= @task.department.try(:name) %></td>
              <td><%= @task.task_level_id_name %></td>
              <td><%= @task.status_name %></td>
              <td><%= @task.time_info %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <% if @task.status > 0 %>
        <div class="col-md-12 margin-top-20">
          <h4>任务执行信息</h4>
          <table id="vweddingTable" class="table table-bordered table-hover dataTable">
            <thead>
            <tr>
              <th width="25%">执行人员</th>
              <th width="25%">开始时间</th>
              <th width="25%">结束时间</th>
              <th width="25%">耗时分钟</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @task.user.try(:name) %></td>
                <td><%= @task.start_at %> <%= link_to '查看照片', @task.start_pic_key, target: '_blank' if @task.start_pic_key.present? %></td>
                <td><%= @task.end_at %></td>
                <td><%= @task.finish_time %></td>
              </tr>
            </tbody>
          </table>
        </div>
      <% end %>

      <div class="col-md-12 margin-top-20">
        <h4>任务项检查结果</h4>
        <table id="vweddingTable" class="table table-bordered table-hover dataTable">
          <thead>
          <tr>
            <th width="25%">任务项名称</th>
            <th width="25%">检查时间</th>
            <th width="25%">问题状态</th>
            <th width="25%">解决状态</th>
          </tr>
          </thead>
          <tbody>
            <% @task.task_items.each do |task_item| %>
              <tr>
                <td><%= task_item.name %></td>
                <td><%= task_item.check_at %></td>
                <td><%= task_item.status_name %></td>
                <td><%= task_item.problem? ? task_item.check_status_name : '' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="col-md-12 margin-top-20">
        <h4>任务执行记录</h4>
        <table id="vweddingTable" class="table table-bordered table-hover dataTable">
          <thead>
          <tr>
            <th width="25%">任务名称</th>
            <th width="25%">检查项目</th>
            <th width="25%">记录人员</th>
            <th width="25%">记录时间</th>
          </tr>
          </thead>
          <tbody>
            <% @task.task_records.each do |task_record| %>
              <tr>
                <td><%= task_record.task.try(:name) %></td>
                <td><%= task_record.task_item.try(:name) %></td>
                <td><%= task_record.user.try(:name) %></td>
                <td><%= task_record.created_at %></td>
              </tr>
              <tr>
                <td colspan="4"><%= task_record.description %></td>
              </tr>
              <tr>
                <td colspan="4">
                  <% task_record.task_pictures.each do |task_picture| %>
                    <%= link_to task_picture.pic_key, target: '_blank' do %><img src="<%= task_picture.pic_key %>" style="width:200px; height:200px; margin-left: 100px;"/><% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="col-md-12 margin-top-20"></div>

    </div>
  </div>
<% end %>
