<style type="text/css">
  .select2-sm {
    padding: 3px 4px;
    height: 41px;
    color: #858585;
  }
  .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px; 
  }
  .select2-choice {
    border-radius: 10px;
  }
  .select2-container .select2-choice {
    background: #FFF;
  }
  .select2-container .select2-choice > .select2-chosen {
    color: #858585;
  }
</style>
<%= form_for [:admin, @material_batch],validate: true, html: {class: 'form'} do |f| %>
  <div class="modal-body">
    <div class="col-xs-12">
      <% unless @material_batch.new_record? %>
        <div class="form-group">
          <label class="control-label">资产编号<span class="required-star">*</span></label>
          <div class="clearfix">
            <%= @material_batch.no %>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <label class="control-label">所属物资<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.select :material_id, Material.pluck(:name, :id), {include_blank: '请选择物资'}, class: "col-xs-12 select2 select2-sm" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">批次状态<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.select :status, MaterialBatch.status_options[0..1], {include_blank: '请选择状态'}, class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">供应商<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.select :supplier_id, Supplier.normal.pluck(:name, :id), {include_blank: '请选择供应商'}, class: "col-xs-12 select2 select2-sm" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">保质期<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.text_field :expiration_date, class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">所属仓库<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.select :warehouse_id, Warehouse.normal.pluck(:name, :id), {include_blank: '请选择仓库'}, class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">批次时间<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.text_field :time, class: "col-xs-12 datepicker" %>
        </div>
      </div>

     <% unless @material_batch.new_record? %>
      <div class="form-group">
        <label class="control-label">批次数量<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= @material_batch.qty %>
        </div>
      </div>      
    <% end %>

    </div>
  </div>
  <div class="clearfix"></div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-primary form-submit" data-fn="submit">确定</button>
    <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">取消</button>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $(".select2").select2();
  })
</script>