<style type="text/css">
  .aa{
    margin-left: 15px;
  }
  .cc {
    height: 32px;
  }
</style>

<%= form_for @material_usage_record, url: deal_admin_material_batch_path(@material_batch), method: :put, validate: true, html: {class: 'form'} do |f| %>
  <div class="modal-body">
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label">资产编号:<%= @material_batch.material.no %></label>
      </div>

      <div class="form-group">
        <label class="control-label">资产名称:<%= @material_batch.material.name %></label>
      </div>

      <div class="form-group">
        <label class="control-label">批次编号:<%= @material_batch.no %></label>
      </div>

      <div class="form-group" id="department">
        <label class="control-label">相关部门<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.select :department_id, Department.normal.map{|dep| [dep.to_s, dep.id] }, {include_blank: '请选择部门'}, class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">操作类型</label>
        <div class="clearfix">
          <%= f.select :operate_type_id, MaterialUsageRecord.operate_type_id_options, {}, class: "col-xs-12 cc" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">相关数量</label>
        <div class="clearfix">
          <%= f.text_field :qty, class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">相关备注</label>
        <div class="clearfix">
          <%= f.text_area :description, rows: 4, cols: 20,  class: "col-xs-12" %>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-primary form-submit" data-fn="submit">确定</button>
    <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">取消</button>
  </div>
<% end %>

<!-- <script type="text/javascript">
  $(document).ready(function(){
    $('#material_usage_record_operate_type_id').change(function(){
      var value = $(this).children('option:selected').val();
      if (value == 1){
        $('#department').show();
      }
      else{
        $('#department').hide();
      }
    })
  })
</script> -->
