<div class="html index">
  <div class="topline">
    <!-- <a href="javascript:;" class="back" id="J_back"></a> -->
    <a href="javascript:;" class="scan" id="J_scan"></a>
  </div>

  <div class="topbox">
    <img src="/asset/images/bg02.jpg">
    <p class="tbtil"><%= current_user.department.name %></p>
    <a href="<%= wap_plant_assets_path %>" class="tbnum">资产数量<span class="num"><%= @plant_assets.count %></span><img src="/asset/images/arr_r.png" class="arr"></a>
  </div>

  <div class="lses">
    <a href="<%= wap_asset_checks_path %>" class="ls">
      <img src="/asset/images/item01a.png" class="icimg">
      <p class="lstil">资产盘点</p>
      <p class="lstext">扫一扫快速盘点资本</p>
    </a>
    <a href="<%= my_wap_assets_path %>" class="ls">
      <img src="/asset/images/item01b.png" class="icimg">
      <p class="lstil">我发起的资产采购</p>
      <p class="lstext">实时查看申请结果</p>
    </a>
    <a href="<%= approves_wap_assets_path %>" class="ls">
      <img src="/asset/images/item01c.png" class="icimg">
      <p class="lstil">我审批的资产采购</p>
      <p class="lstext">一键快速审批</p>
      <span class="new"><%= @user.current_check_assets.count %></span>
    </a>
  </div>
</div>

<script type="text/javascript">
  $(function(){

    $('#J_scan').click(function(){
      // 调用扫一扫接口,扫描成功后返回编号 执行：
      window.main.startQrScan("<%= wap_plant_assets_url %>/", '资产二维码扫描');
    });

  });
</script>