<% content_for :main_content do %>
  <div class="main-content">

    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%=render 'partials/home'%>
          <li><%=link_to '资产基础管理',admin_suppliers_path%></li>
          <li><%=link_to '仓库管理', admin_warehouses_path %></li>
      </ul>   
    </div>
    <div class="page-content">

     <div class="col-md-12"> 
     <div class="col-md-12">
       <a href="javascript:;" class="btn btn-primary btn-sm pull-right " data-target="addWarehouse" data-toggle="modals"
       data-title="新增" data-height="1000" data-iframe="/admin/warehouses/new">新增</a>
      </div>
     </div>

     <div class="col-md-12 margin-top-20">
       <table id="vweddingTable" class="table table-bordered table-hover dataTable">
         <thead>
           <tr>
             <th>仓库名称</th>
             <th>仓库位置</th>
             <th>仓库管理员</th>
             <th>更新时间</th>
             <th>操作</th>
           </tr>
         </thead>
         <tbody>
          <% @warehouses.each do |warehouse|%>
            <tr>
              <td><%=warehouse.name %></td>
              <td><%=warehouse.location %></td>
              <td><%=warehouse.user.try(:name) %></td>
              <td><%=warehouse.updated_at %></td>
              <td>
                <%=link_to '编辑','javascript:;',class: 'fgreen', data: {target: 'editWarehouse',toggle: 'modals', title: '仓库基本信息',height: '1000',iframe: edit_admin_warehouse_path(warehouse)} %>
                <%=link_to '删除',admin_warehouse_path(warehouse),method: :delete,data: {confirm:'确定删除?'} %>
              </td>
            </tr>
           <%end%>
         </tbody>
        </table>
        <div class="pagination page width-auto"><%= page_entries_info @warehouses %></div>
        <%= paginate @warehouses %>
      </div>
    </div>
  </div>
<%end%>