<% content_for :main_content do %>
  <div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%=render 'partials/home' %>
          <li><%= '附件情况管理' %></li>
      </ul>
    </div>

      <div class="page-content">
        <%= form_for @search, url: admin_tags_path, html: {method: :get } do |f| %>
          <div class="col-md-12 no-padding">
            <div class="col-md-2">
              <div class="input-group input-group-text">
                <%=f.text_field :name_like, placeholder:"名称", class: 'col-xs-12 cc'%>
              </div>
            </div>

            <div class="col-md-2">
             <%= f.submit '查询', class: 'btn btn-sm btn-filter btn-primary' %>
            </div>

            <div class="col-md-8">
              <a href="javascript:;" class="btn btn-primary btn-sm pull-right " data-target="add" data-toggle="modals" data-title="新增附件情况" data-height="300" data-iframe="<%= new_admin_tag_path %>">新增</a>
            </div>
          </div>
        <%end%>

        <div class="col-md-12 margin-top-20">
          <table id="vweddingTable" class="table table-bordered table-hover dataTable">
            <thead>
              <tr>
                <th>名称</th>
                <th>排序</th>
                <th>创建时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <% @tags.each do |tag|%>
                <tr>
                  <td><%=tag.name %></td>
                  <td><%=tag.position %></td>
                  <td><%=tag.created_at %></td>
                  <td>
                    <%=link_to '编辑', 'javascript:;', class: 'fgreen',data:{target: "editSuppliee",toggle: 'modals', title: '编辑附件情况',height: '300', iframe:admin_tag_path(tag) } %>
                    <%= link_to '删除', admin_tag_path(tag), method: :delete, data: {confirm: '确定删除？'} %>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
        <div class="pagination page width-auto"><%= page_entries_info @tags %></div>
        <%= paginate @tags %>
      </div>
    </div>
  </div>
<%end%>