<% content_for :main_content  do %>
  <div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%=render 'partials/home' %>
        <li><%= '文档管理'%></li>
      </ul>
    </div>

    <div class="page-content">
      <%= form_for @search, url: admin_archive_categories_path, html: {method: :get } do |f| %>
        <%= hidden_field_tag :category_id, params[:category_id] %>
        <div class="col-md-12  no-padding select-categories">
          <div class="col-md-2 search-name">
            <div class="input-group input-group-text">
              <span class="input-group-addon"></span>
              <%= f.text_field :name_like,class: 'col-xs-12', placeholder: '分类名称' %>
            </div>
          </div>

          <div class="col-md-4">
            <%= f.submit '查询', class: 'btn btn-sm btn-filter btn-primary' %>

            <a href="javascript:;" class="btn btn-primary btn-sm pull-right " data-target="addArchiveCategories" data-toggle="modals" data-title="新增分类" data-height="1000" data-iframe="<%=new_admin_archive_category_path %>">新增</a>
          </div>
        </div>
      <%end%>

       <div class="col-md-12 margin-top-20">
         <table id="vweddingTable" class="table table-bordered table-hover dataTable">
          <thead>
            <tr>
              <th>分类</th>
              <th>排序</th>
              <th>更新时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% @archive_categories.each do |archive_category|%>
             <tr>
               <td><%= archive_category.to_s %></td>
               <td><%= archive_category.position %></td>
               <td><%= archive_category.updated_at %></td>
               <td>
                 <%=link_to '编辑','javascript:;', class: 'fgreen', data:{target: 'editArchiveCategorie', toggle: 'modals' , title: '编辑分类', height: '1000', iframe: admin_archive_category_path(archive_category) } %>
                 <%=link_to '删除',admin_archive_category_path(archive_category) , method: :delete, data: {confirm: '确定删除?'} %>
               </td>
             </tr>
             <%end%>
          </tbody>
         </table>
        <div class="pagination page width-auto"><%= page_entries_info @archive_categories %></div>
         <%= paginate @archive_categories%>
       </div>

    </div>  
  </div>
<%end%>

<script type="text/javascript">
  $("#search_first_category_id_eq").on('change', function(e){
    var first_category_id = $(this).val();

    refreshSecondOption(first_category_id);
  });

  function refreshSecondOption(first_category_id) {
    $.ajax({
      url: "/admin/archives/categories",
      data: { "category_id": first_category_id },
      dataType: 'json',
      success: function(result){
        var options = $("#search_second_category_id_eq");
        options.empty(); // remove old options
        options.append($("<option></option>").attr("value", '').text('请选择二级分类'));

        var three_options = $("#search_three_category_id_eq");
        three_options.empty();
        three_options.append($("<option></option>").attr("value", '').text('请选择三级分类'));

        $.each(result, function(index, option) {
          options.append($("<option></option>")
            .attr("value", option.id).text(option.name));
        });
      }
    });
  }
</script>

<script>
  var category_data = <%= raw JSON.pretty_generate(@categories.map{|t| {id: t.id, parent_id: t.parent_id.to_i, name: t.name, position: t.position}})%>, select_data = [];

  function select_categories(id, parent_id){
    if(id==0){
      category_data.push({'id': 0, 'parent_id': parent_id})
    }
    var data = {'selected': id, 'categories': []}, parent = null;
    $.each(category_data, function(i,c){
      if(c.parent_id == parent_id){
        data.categories.push(c);
      }
      if(c.id == parent_id){
        parent = c;
      }
    });
    data.categories = data.categories.sort(function(a, b){return a.position-b.position});
    select_data.unshift(data);
    if(data.categories.length > 0 && data.categories[0].parent_id != 0 && parent != null){select_categories(parent.id, parent.parent_id);}
    else{
      var data = {'selected': 0, 'categories': []};
      $.each(category_data, function(i,c){
        if(c.parent_id == <%= @category.try(:id).to_i %> && <%= @category.try(:id).to_i %> != 0){
          data.categories.push(c);
        }
      });
      data.categories = data.categories.sort(function(a, b){return a.position-b.position});
      select_data.push(data, {'selected': 0, 'categories': []});
      console.log(select_data);
      var html = '';
      $.each(select_data, function(i,data){
        if(i>2){return false;}
        if(data.categories.length > 0){
          html += '<div class="col-md-2"><select class="col-xs-12 select" id="category'+i+'" name="category'+i+'"><option value>全部分类</option>';
        }
        else{
          html += '<div class="col-md-2 hide"><select class="col-xs-12 select" id="category'+i+'" name="category'+i+'"><option value>全部分类</option>';
        }
        $.each(data.categories, function(i,c){
          if(c.id != 0){
            if(data.selected == c.id){
              html += '<option value="'+c.id+'" selected="selected">'+c.name+'</option>'
            } else{
              html += '<option value="'+c.id+'">'+c.name+'</option>'
            }
          }
        });
        html += '</select></div>'
      });
      $('.search-name').before(html);
    }
  }

  function change_select_category(){
    $('.select-categories').on('change', 'select', function(){
      $.each($(this).closest('div').nextAll().find('select'), function(i, e){
        $(e).closest('div').addClass('hide');
      });
      if($(this).val() == ''){
        $(this).closest('div').nextAll().find('select').find('option').remove();
        $(this).closest('div').nextAll().find('select').append("<option value>全部分类</option>");
        if($(this).closest('div').prev().find('select').length > 0){
          $('#archive_category_search #category_id').val($(this).closest('div').prev().find('select').val());
        }
        else{
          $('#archive_category_search #category_id').val('');
        }
      }
      else{
        if($(this).closest('div').next().find('select').length > 0){
          $(this).closest('div').nextAll().find('select').find('option').remove();
          $(this).closest('div').nextAll().find('select').append("<option value>全部分类</option>");
          var categories = [], select = $(this);
          $.each(category_data,function(k,p){
            if(p.parent_id == parseInt(select.val())){
              categories.push(p);
            }
          });
          categories = categories.sort(function(a, b){return a.position-b.position});
          if(categories.length > 0){
            $(this).closest('div').next().removeClass('hide');
          }
          $.each(categories,function(k,p){
            select.closest('div').next().find('select').append("<option value="+p.id+">"+p.name+"</option>")
          });
        }
        $('#archive_category_search #category_id').val($(this).val());
      }
    });
  }
  $(function(){
    select_categories(<%= @category.try(:id).to_i %>, <%= @category.try(:parent_id).to_i %>);
    change_select_category();
  });
</script>