<form>
  <div class="modal-body">
    <center>
      <table class="table table-striped table-hover" style="width: 80%">
        <tr>
          <th width="20%">拍品名称</th>
          <td><%= @product.name %></td>
          <th width="20%">型号</th>
          <td><%= @product.model %></td>
        </tr>

        <tr>
          <th width="20%">姓名</th>
          <td><%= @product.wx_user.try(:nickname) %></td>
          <th width="20%">手机号</th>
          <td><%= @product.mobile %></td>
        </tr>

        <tr>
          <th width="20%">品目</th>
          <td><%= @product.product_category.try(:name) %></td>
          <th width="20%">品牌</th>
          <td><%= @product.brand_name %></td>
        </tr>

        <tr>
          <th width="20%">状态</th>
          <td><%= @product.status_name %></td>
          <th width="20%">送拍时间</th>
          <td><%= @product.created_at.to_s %></td>
        </tr>

        <tr>
          <th width="20%">描述</th>
          <td colspan="3"><%= @product.description %></td>
        </tr>

        <tr>
          <th>图片</th>
          <td colspan="3" style="text-align: left;">
            <% @product.product_pictures.each do |pic| %>
              <a class="pic" href="<%= pic.pic_url %>" target="_blank" >
                <%= image_tag pic.pic_url, size: "100x100" if pic.pic_url %>
              </a>
            <% end %>
          </td>
        </tr>
      </table>
    </center>
  </div>

  <div class="clearfix"></div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">关闭</button>
  </div>
</form>
<style type="text/css">
  .table tbody > tr > td{
    border-top: 1px solid #fff; 
  }
  .table tbody > tr > th{
    border-top: 1px solid #fff; 
  }
</style>