<style type="text/css">
  .itema{
    color:red;
    font-size: 14px;
  }
  .itemb{
    color: red;
    font-size: 14px;
  }
</style>

<%= form_for @plant_usage_record, url: deal_admin_plant_asset_path(@plant_asset),  validate:true, method: :post, html:{class: 'form' } do |f| %>
 <div class="modal-body">
   <div class="col-xs-12">

   <div class="itema">
     <p>资产基本信息</p>
   </div>

    <div class="form-group">
     <label class="control-label">资产编号 : <%=@plant_asset.no %></label>
    </div>

    <div class="form-group">
      <label class="control-label">资产名称 : <%=@plant_asset.name %></label>
    </div>

    <div class="itemb">
      <p>资产领用信息</p>
    </div>

    <div class="form-group">
      <label class="control-label">领用部门</label>
      <div class="clearfix">
       <%= f.select :department_id, Department.normal.map{|dep| [dep.to_s, dep.id] }, {include_blank: '请选择部门'}, maxlength:50, class: 'col-xs-12' %>
      </div>
     </div>

     <div class="form-group">
       <label class="control-label">领用管理人:<span id="user"></span></label>
     </div>

     <div class="form-group">
       <label class="control-label">领用备注</label>
       <div class="clearfix">
         <%=f.text_area :description, rows:4, cols:4, class: 'col-xs-12' %>
       </div>
     </div>

    </div>
   </div>

    <div class="clearfix"></div>
    <div class="modal-footer">
     <button type="submit" class="btn btn-sm btn-primary form-submit" data-fn="submit">确定</button>
     <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">取消</button>
    </div>
 <%end%>

 <script type="text/javascript">
  $(document).ready(function(){
    $('#plant_usage_record_department_id').change(function(){
      $.ajax({
        type: "GET",
        url: '/users/find',
        data: {"department_id": $('#plant_usage_record_department_id option:selected').val()},
        dataType: "json",
        success: function(res){
          $('#user').html(res.name);
        }
      })
    })
  })
</script>