<% content_for :main_content do %>
  <style type="text/css">
    .col-md-2 {
      width: 13%;
    }
  </style>

  <div class="main-content ">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= link_to '任务模板', admin_task_templates_path %></li>
        <li><%= @task_template.name %></li>
        <li>任务检查项</li>
      </ul>
      <%#= render '/layouts/qrcode' %>
    </div>

    <div class="page-content">
      <div class="tab-content no-border padding-24 row">
        <div class="col-md-4">
          <label><input id="sort" name="sort" type="checkbox" value="checkbox" <%= 'checked' if @task_template.is_force_order %>/> 是否强制执行顺序</label>
        </div>

        <div class="col-md-2 pull-right">
          <%= hidden_field_tag :task_template_id, params[:task_template_id] %>
          <a class="btn btn-primary btn-sm pull-right" data-target="addGift" data-toggle="modals" data-title="检查项信息" data-height="1000" data-iframe="/admin/task_template_items/new?task_template_id=<%= @task_template.id %>">新增</a>
        </div>

        <div class="col-md-12 margin-top-20">
          <table id="vweddingTable" class="table table-bordered table-hover dataTable ">
            <thead>
              <tr>
                <th>所属任务模板</th>
                <th>检查项</th>
                <th>关键描述</th>
                <th>顺序</th>
                <th>更新时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <% @task_template_items.each do |task_template_item| %>
                <tr>
                  <td><%= TaskTemplate.find(task_template_item.task_template_id).name %></td>
                  <td><%= task_template_item.name %></td>
                  <td><%= task_template_item.description %></td>
                  <td><%= task_template_item.position %></td>
                  <td><%= task_template_item.updated_at %></td>
                  <td>
                    <a href="javascript:;" class="fgreen" data-target="editGift" data-toggle="modals" data-title="编辑检查项" data-height="1000" data-iframe="/admin/task_template_items/<%= task_template_item.id %>/edit?task_template_id=<%= @task_template.id%>">编辑</a>
                    <%#= link_to '上移', down_admin_task_template_item_path(task_template_item, task_template_id: @task_template.id), method: :put if task_template_item.position > 1%>
                    <%#= link_to '下移', up_admin_task_template_item_path(task_template_item, task_template_id: @task_template.id), method: :put if task_template_item.position < @task_template.task_template_items.count  %>
                    <%= link_to '删除', admin_task_template_item_path(task_template_item, task_template_id: @task_template.id), method: :delete, data: { confirm: "确定删除?" }%>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

</div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#sort').change(function(){
      if ($('#sort').is(':checked')) {
        $.ajax({
          type: 'GET',
          url: "/admin/task_templates/change",
          data: {"type": 1, "task_template_id": $('#task_template_id').val()},
          dataType: "json",
          success: function(data){
          }
        })
      }
      else
      {
        $.ajax({
          type: 'GET',
          url: "/admin/task_templates/change",
          data: {"type": 0, "task_template_id": $('#task_template_id').val()},
          dataType: "json",
          success: function(data){
          }
        })
      }
    })
  })
</script>
