<% provide(:title, "客户管理") %>
<table>
  <thead>
    <th>名称</th>
    <th>历史订单</th>
    <th>回收</th>
    <th>寄卖</th>
    <th>在库</th>
    <!-- <th>历史金额</th> -->
    <th>创建时间</th>
  </thead>
  <tbody>
    <% @shop_customers.each do |shop_customer| %>
      <tr>
        <td><%= shop_customer.name %></td>
        <td><%= shop_customer.orders.count %></td>
        <td><%= shop_customer.products.recycle.count %></td>
        <td><%= shop_customer.products.consign.count %></td>
        <td><%= shop_customer.products.sum(:exist_count) %></td>
        <!-- <td><%#= shop_customer.orders.sum(:amount) %></td> -->
        <td><%= shop_customer.created_at %></td>
        <td><%= link_to '详情', wap_shop_customer_path(shop_customer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br><br>

<%= link_to '创建新客户', new_wap_shop_customer_path %>