<% content_for :main_content do %>
<div class="main-content ">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <%= render 'partials/home' %>
      <li><%= link_to '盘点查询', admin_asset_check_maps_path %></li>
      <li>盘点详情</li>
    </ul>
  </div>
  <div class="page-content">
    <div class="tabbable row">
      <%= render 'top_rule' %>
      <div class="tab-content no-border padding-24 row">

        <div class="col-md-12 margin-top-20">
          <table id="vweddingTable"
            class="table table-striped table-bordered table-hover dataTable ">
            <thead>
              <tr>
                <th>资产编号</th>
                <th>资产名称</th>
                <th>规格型号</th>
                <th>资产类型</th>
                <th>资产状态</th>
                <th>使用部门</th>
                <th>盘点时间</th>
              </tr>
            </thead>
            <tbody>
              <% @asset_check_maps.each do |asset_check_map| %>
                <tr>
                  <td><%= asset_check_map.plant_asset.no %></td>
                  <td><%= asset_check_map.plant_asset.name %></td>
                  <td><%= asset_check_map.plant_asset.scale %></td>
                  <td><%= asset_check_map.plant_asset.asset_category.try(:name) %></td>
                  <td><%= asset_check_map.plant_asset.state_name %></td>
                  <td><%= asset_check_map.try(:department).try(:name) %></td>
                  <td><%= asset_check_map.created_at %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="pagination page width-auto"><%= page_entries_info @asset_check_maps %></div>
          <%= paginate @asset_check_maps %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
