<% provide(:title,'来访') %>

<div class="html visit_list">
  <div class="topline">
    <p class="text">来访</p>
  </div>

  <p class="til">今日来访</p>
  <div class="items">
    <% if @today_visits.each do |visit| %>
      <a href="<%= wap_visit_path(visit) %>" class="item">
        <p class="item_til"><%= visit.unit %><span class="dengji <%= visit.reception_grade_class %>"><%= visit.reception_grade_name %></span></p>
        <p class="item_info">
          <span class="item_jie"><span class="ado">接</span><%= visit.receiver.name %></span>
          <span class="item_from"><span class="ado">来访</span><%= visit.username %> <%=visit.car_no_info %> </span>
        </p>
        <span class="item_time">今天 <%= visit.visit_at %>:00</span>
      </a>
    <%end.blank? %>
      暂无来访
    <% end %>
  </div>

  <p class="til">明日来访</p>
  <div class="items">
    <% if @tomorrow_visits.each do |visit|%>
      <a href="<%= wap_visit_path(visit)%>" class="item">
        <p class="item_til"><%= visit.unit %><span class="dengji <%= visit.reception_grade_class %>"><%= visit.reception_grade_name %></span></p>
        <p class="item_info">
          <span class="item_jie"><span class="ado">接</span><%= visit.receiver.name %></span>
          <span class="item_from"><span class="ado">来访</span><%= visit.username %> <%=visit.car_no_info %></span>
        </p>
        <span class="item_time">明天 <%= visit.visit_at %>:00</span>
      </a>
    <%end.blank? %>
      暂无来访
    <% end %>
  </div>
</div>

