<% content_for :main_content do %>
  <div class="main-content">

  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <%=render 'partials/home' %>
      <li><%=link_to '设备资产管理',admin_plant_assets_path %></li>
      <li><%=link_to '资产领用归还记录', admin_plant_usage_records_path %></li>
    </ul>
  </div>

  <div class="page-content">
    <%=form_for @search, url:admin_plant_usage_records_path, html: {method: :get } do |f| %>
      <div class="col-md-12 no-padding">
        <div class="col-md-2">
          <div class="input-group input-group-text">
            <%=f.text_field :plant_asset_no_or_plant_asset_name_like, placeholder: '资产名称/编号', class: 'col-xs-12' %>
          </div>
        </div>

        <div class="col-md-2">
          <div class="input-group input-group-text">
            <%=f.text_field :plant_asset_scale_like, placeholder: '规格型号', class: 'col-xs-12' %>
          </div>
        </div>

        <div class="col-md-2">
          <%=f.select :plant_asset_asset_category_id_eq, AssetCategory.type1.pluck(:name, :id),{:include_blank=>'所属分类'},maxlength:50, class: 'col-xs-12'%>
        </div>

        <div class="col-md-6">
          <%= f.submit '查询', class: 'btn btn-sm btn-filter btn-primary' %>
        </div>
      </div>
    <%end%>

    <div class="col-md-12 margin-top-20">
      <table id="vweddingTable" class="table table_scriped table-bordered table-hover dataTable">
        <thead>
          <tr>
            <th>资产编号</th>
            <th>资产名称</th>
            <th>规格型号</th>
            <th>所属分类</th>
            <th>操作状态</th>
            <th>相关部门</th>
            <th>备注</th>
            <th>操作时间</th>
          </tr>
        </thead>
        <tbody>
          <% @plant_usage_records.each do |plant_usage_record| %>
           <tr>
             <td><%= plant_usage_record.plant_asset.no %></td>
             <td><%= plant_usage_record.plant_asset.name %></td>
             <td><%= plant_usage_record.plant_asset.scale %></td>
             <td><%= plant_usage_record.plant_asset.asset_category.try(:name) %></td>
             <td><%= plant_usage_record.status_name %></td>
             <td><%= plant_usage_record.department.try(:name) %></td>
             <td><%= plant_usage_record.description %></td>
             <td><%= plant_usage_record.created_at %></td>
           </tr>
           <% end %>
        </tbody>
       </table> 
        <div class="pagination page width-auto"><%= page_entries_info @plant_usage_records %></div>
       <%= paginate @plant_usage_records %>
     </div>
   </div>
  </div>
  <%end%>