<style type="text/css">
  .aa{
    margin-left: 25px;
  }
  .cc {
    height: 32px;
  }
  .col-xs-3 {
    width: 30%;
  }
</style>
<%= form_for @archive, url: @archive.new_record? ? admin_archives_path : admin_archive_path(@archive) ,validate: true, html: {class: 'form'} do |f| %>
  <div class="modal-body">
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label">所属分类<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.select :first_category_id, ArchiveCategory.root.pluck(:name, :id), {include_blank: '请选择一级分类'}, class: "col-xs-3 cc" %>
          <%= f.select :second_category_id, @archive.new_record? ? [] : @archive.first_category.children.pluck(:name, :id), {include_blank: '请选择二级分类'}, class: "col-xs-3 aa cc"%>
          <%= f.select :three_category_id, @archive.new_record? || !@archive.second_category ? [] : @archive.second_category.children.pluck(:name, :id), {include_blank: '请选择三级分类'}, class: "col-xs-3 aa cc"%>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">档案名称<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.text_field :name, maxlength: 50, class: "col-xs-12" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">上传文件<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.file_field :file_name %>
          <% if !@archive.new_record? && @archive.file_name? %>
            <%= @archive.file_name.file.filename %>
            <%= link_to "下载", @archive.file_name.url %>
          <% end %>
        </div>
      </div>
<!--
        <div class="form-group">
          <label class="control-label">上传文件 <small class="help-inline text-warning">例如：PDF、Word、Excel、JPG等文件或图片</small></label>

          <div class="clearfix">
            <div class="cieldon-file pull-left" data-type="0" data-div="#img-1" data-width="180" data-height="100" data-name="archive[file_key]" data-img="<%= @archive.file_url %>" data-key="<%= @archive.file_key || "" %>"></div>
          </div>
        </div>
       -->
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-primary form-submit" data-fn="submit">确定</button>
    <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">取消</button>
  </div>
<% end %>

<script type="text/javascript">
  $("#archive_first_category_id").on('change', function(e){
    var first_category_id = $(this).val();

    refreshSecondOption(first_category_id);
  });

  $("#archive_second_category_id").on('change', function(e){
    var second_category_id = $(this).val();

    refreshThreeOption(second_category_id);
  });

  function refreshSecondOption(first_category_id) {
    $.ajax({
      url: "/admin/archives/categories",
      data: { "category_id": first_category_id },
      dataType: 'json',
      success: function(result){
        var options = $("#archive_second_category_id");
        options.empty(); // remove old options
        options.append($("<option></option>").attr("value", '').text('请选择二级分类'));

        var three_options = $("#archive_three_category_id");
        three_options.empty();
        three_options.append($("<option></option>").attr("value", '').text('请选择三级分类'));

        $.each(result, function(index, option) {
          options.append($("<option></option>")
            .attr("value", option.id).text(option.name));
        });
      }
    });
  }

  function refreshThreeOption(second_category_id) {
    $.ajax({
      url: "/admin/archives/categories",
      data: { "category_id": second_category_id },
      dataType: 'json',
      success: function(result){
        var options = $("#archive_three_category_id");
        options.empty(); // remove old options

        options.append($("<option></option>").attr("value", '').text('请选择三级分类'));

        $.each(result, function(index, option) {
          options.append($("<option></option>")
            .attr("value", option.id).text(option.name));
        });
      }
    });
  }
</script>
