<style type="text/css">
  #uploadImg{ font-size:12px; overflow:hidden; position:absolute}
  #file{ position: absolute; z-index: 100; font-size: 30px; opacity: 0; filter: alpha(opacity=0); width: 100px; }
  .select {
    width: 145px;
    height: 42px;
    padding-left: 10px;
  }
</style>
<% content_for :main_content do %>
  <div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%=render 'partials/home' %>
          <li><%= '商品查询' %></li>
      </ul>
    </div>

      <div class="page-content">
        <%= form_for @search, url: admin_products_path, html: {method: :get } do |f| %>
          <div class="col-md-12 no-padding">

            <div class="col-md-2">
              <div class="input-group input-group-text ">
                  <%=f.text_field :name_like, placeholder:"商品名称", class: 'col-xs-12 cc'%>
              </div>
            </div>

            <div class="col-md-4">
              <div class="input-group input-group-text">
              <span class="input-group-addon">操作时间：</span>
              <%= f.text_field :created_at_between, class: 'col-xs-12 datetimerange', value: "#{params[:search][:created_at_gte]} - #{params[:search][:created_at_lte]}" %>
              </div>
            </div>

            <div class="col-md-2">
              <div class="input-group input-group-text">
                <%= f.select :shop_id_eq, Shop.pluck(:name, :id), {include_blank: '请选择商铺'}, class: 'col-xs-12 select' %>
              </div>
            </div>

            <div class="col-md-2">
              <div class="input-group input-group-text">
                <%= f.select :product_category_id_eq, ProductCategory.pluck(:name, :id), {include_blank: '请选择商品分类'}, class: 'col-xs-12 select'  %>
              </div>
            </div>

            <div class="col-md-2">
              <div class="input-group input-group-text">
                <%= f.select :brand_id_eq, @search.product_category_id_eq.present? ? ProductCategory.where(id: @search.product_category_id_eq).first.brands.pluck(:name, :id) : Brand.pluck(:name, :id), {include_blank: '请选择商品品牌'}, class: 'col-xs-12 select' %>
              </div>
            </div>

          </div>

          <div class="col-sm-12  margin-top-10 row">
            <div class="col-md-12">
            <%= f.submit '查询', class: 'btn btn-primary btn-sm btn-filter' %>
            </div>
          </div>

      <%end%>

       <div class="col-md-12 margin-top-20">
         <table id="vweddingTable" class="table table-bordered table-hover dataTable">
           <thead>
             <tr>
               <th>商品名称</th>
               <th>商品品牌</th>
               <th>商品分类</th>
               <th>商品仓库</th>
               <th>商品数量</th>
               <!-- <th>商品状态</th> -->
               <th>成本价格</th>
               <th>销售价格</th>
               <th>入库时间</th>
              </tr>
            </thead>
            <tbody>
              <% @products.each do |product|%>
                <tr>
                  <td><%=product.name %></td>
                  <td><%=product.brand.name %></td>
                  <td><%=product.product_category.name %></td>
                  <td><%=product.warehouse.name %></td>
                  <td><%=product.quantity %></td>
                  <!-- <td><%#=product.status_name %></td> -->
                  <td><%=product.purchase_price %></td>
                  <td><%=product.sell_price %></td>
                  <td><%=product.created_at %></td>
                  <!-- <td> -->
                  <%#= link_to '查看', admin_product_path(product) %>
                <!-- </td> -->
              </tr>
            <%end%>
          </tbody>
        </table>
        <div class="pagination page width-auto"><%= page_entries_info @products %></div>
        <%= paginate @products %>
      </div>
    </div>
  </div>
<%end%>
<script type="text/javascript">
     $("#search_product_category_id_eq").on('change', function(e){
      var product_category_id = $(this).val();
      refreshBrandOptions(product_category_id);
    });

     function refreshBrandOptions(product_category_id) {
      $.ajax({
        url: "<%= brands_brands_path %>",
        data: { "product_category_id": product_category_id},
        dataType: 'json',
        success: function(result){
          var options = $("#search_brand_id_eq");
          options.empty(); // remove old options
          options.append($("<option></option>").attr("value", '').text('请选择分类'));
          $.each(result, function(index, option) {
            options.append($("<option></option>")
              .attr("value", option.id).text(option.name));
          });
        }
      });
    }
  </script>