<% provide(:title,"资产盘点") %>

<div class="html pandian">
  <div class="topline">
    <a href="javascript:;" class="back" id="J_back" data-back='<%= wap_assets_path %>'></a>
    <p class="text">资产盘点</p>
  </div>

  <div class="dtlist">
    <% if @asset_checks.each do |asset_check| %>
      <a href="<%= wap_asset_check_path(asset_check)%>" class="item">
        <p class="itl"><%= asset_check.name %></p>
        <p class="desc">盘 <%= asset_check.asset_check_maps.checked.count %>&ensp;&ensp;赢 <%= asset_check.asset_check_maps.type2.count %>&ensp;&ensp;亏 <%=asset_check.asset_check_maps.type3.count %></p>
        <p class="belo"><span class="who"><%= asset_check.user.name %></span><span class="time"><%= asset_check.created_at %></span></p>
        <span class="status"><%= asset_check.status_name %></span>
      </a>
    <%end.blank? %>
      <div class="empty">
        <img src="/asset/images/empty.png" class="im">
        <p class="text">暂无盘点记录</p>
      </div>
    <% end %>
  </div>
</div>

<a href="<%= new_wap_asset_check_path %>" class="botline_btn">
  <img src="/asset/images/new_p.png" class="newp">创建新盘点
</a>

<script type="text/javascript">
  window.main.hideBtmbar();
</script>