<% provide(:title, "#{ @asset_check.department.name }设备盘点")%>

<div class="html pandian_detial">
  <div class="topline">
    <a href="javascript:;" class="back" id="J_back" data-back='<%= wap_asset_checks_path %>'></a>
    <% unless @asset_check.done? %>
      <a href="javascript:;" class="scan" id="J_scan"></a>
    <% end %>
    <p class="text"><%= @asset_check.department.name %>设备盘点</p>
  </div>
  <div class="tabnav">
    <a href="<%= asset_check_map_wap_asset_checks_path(type: 'all', id: @asset_check.id)%>" class="tab">
      <p class="tab_t"><%= @asset_check.asset_check_maps.count %></p>
      <p class="tab_b">应盘资产</p>
    </a>
    <a href="<%= asset_check_map_wap_asset_checks_path(type: 'done', id: @asset_check.id)%>" class="tab">
      <p class="tab_t"><%= @asset_check.asset_check_maps.checked.count %></p>
      <p class="tab_b">已盘资产</p>
    </a>
    <a href="<%= asset_check_map_wap_asset_checks_path(type: 'full', id: @asset_check.id)%>" class="tab">
      <p class="tab_t tab_tblue"><%= @asset_check.asset_check_maps.type2.count %></p>
      <p class="tab_b">盘盈资产</p>
    </a>
    <a href="<%= asset_check_map_wap_asset_checks_path(type: 'lost', id: @asset_check.id)%>" class="tab">
      <p class="tab_t tab_tred"><%= @asset_check.asset_check_maps.type3.count %></p>
      <p class="tab_b">盘亏资产</p>
    </a>
  </div>

  <% if @asset_check_maps.blank? %>
    <div class="empty">
      <img src="/asset/images/empty.png" class="im">
      <p class="text">暂无资产</p>
    </div>
  <%else%>
    <div class="dtlist"></div>
    <a href="javascript:;" class="botmore" id="J_more">点击加载更多</a>
  <%end%>
</div>

<% if @asset_check.doing? %>
  <a href="javascript:;" id="J_end" class="botline_btn">结束本次盘点</a>
<% end %>

<div class="tippop_bg tippop_pd dsn" id="J_endpd">
  <div class="tippop_alert">
    <p class="tippop_alert_t">确定要结束本次盘点吗？</p>
    <p class="tippop_alert_b">
      <a class="tippop_confirm_btn" id="J_sure">确定</a>
      <a class="tippop_confirm_btn" id="J_close">取消</a>
    </p>
  </div>
</div>

<!--标注信息： 新创建判断渲染dom -->
<% if !(@asset_check.done? || @user.show_asset_check_scan_tip?) %>
  <% @user.update_attributes(show_asset_check_scan_tip: 1) %>
  <a href="javascript:;" class="newpd" id="J_newpad">
    <p class="newpd_a"><img src="/asset/images/item02a.png" class="newpd_ai"></p>
    <p class="newpd_b"><img src="/asset/images/item02b.png" class="newpd_bi"></p>
    <p class="newpd_c"><img src="/asset/images/item02c.png" class="newpd_ci"></p>
  </a>
<% end %>

<script type="text/javascript">
  $(function(){
    //加载更多
    var J_more = $('#J_more'),
      ajaxdata = {"page":1,"pagesize":7}, // 获取订单列表用的数据
      isajax = false, //设置开关 防止重复提交
      isdone = false; // 是否加载完成

    // 获取列表
    function getajax(){
      isajax = true;
      J_more.html('正在加载···');
      $.ajax({
        type: "GET",
        url: "<%= wap_asset_check_url(@asset_check) %>",
        data: {'ajaxdata': ajaxdata},
        dataType: "json",
        success: function(res){
          // alert(res);
          // console.log(res.data)
          var dt = res.data, len = dt.length, str = '';
          for(var i=0; i<len; i++){
            var v = dt[i];
            str += '<a href="javascript:;" class="item"><p class="itl">'+v.no+'</p><p class="desc">'+v.fn+'&ensp;&ensp;'+v.sc+'</p><p class="belo">'+v.de+'</p></a>'
          }
          $('.dtlist').append(str);

          // 判断更新加载条件
          setTimeout(function(){
            isajax = false;
            if(len < ajaxdata.pagesize){ // 此处的8表示返回数据的长度，ruby渲染
              isdone = true;
              J_more.html('');
            }else{
              J_more.html('点击加载更多')
            };
          },100);
        }
      });
    };

    getajax(); // 获取首次订单数据

    J_more.click(function(){
      if(isajax || isdone){return false;}
      ajaxdata.page++;
      getajax();
    });

    // 结束清点
    var J_end = $('#J_end'),
      J_endpd = $('#J_endpd');

    J_end.click(function(){
      J_endpd.show();
    });
    $('#J_close').click(function(){
      J_endpd.hide();
    });
    $('#J_sure').click(function(){
      $.ajax({
        type: "POST",
        url: "<%= done_wap_asset_check_path(@asset_check) %>",
        data: {},
        dataType: "json",
        success: function(res){
          if (res.code) {
            CUES.tip({"msg":"操作成功","type":"success","callback":function(){
              window.location.href = "<%= wap_asset_checks_path %>";
            }});
          } else {
            CUES.tip({"msg":"操作失败","type":"danger"});
            return false;
          }
        }
      });
    });

    $('#J_newpad').click(function(){
      $(this).fadeOut(200);
    });

    //扫码
    $('#J_scan').click(function(){
      // 调用扫一扫接口,扫描成功后返回编号 执行：
      window.main.startQrScan("<%= scan_wap_asset_check_url(@asset_check) %>?aid=", '资产二维码扫描');
    });
  });
</script>

<% if @asset_check.doing? %>
  <script type="text/javascript">
    window.main.hideBtmbar();
  </script>
<% end %>