<% content_for :main_content do %>
  <div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%=render 'partials/home' %>
          <li><%= '商品分类' %></li>
      </ul>
    </div>

      <div class="page-content">
        <%= form_for @search, url: admin_product_categories_path, html: {method: :get } do |f| %>
          <div class="col-md-12 no-padding">
            <div class="col-md-2">
              <div class="input-group input-group-text">
                  <%=f.text_field :name_like, placeholder:"商品分类名称", class: 'col-xs-12 cc'%>
              </div>
            </div>

            <div class="col-md-2">
             <%= f.submit '查询', class: 'btn btn-sm btn-filter btn-primary' %>
            </div>

            <div class="col-md-8">
              <a href="javascript:;" class="btn btn-primary btn-sm pull-right " data-target="add" data-toggle="modals" data-title="新增商品分类" data-height="300" data-iframe="<%= new_admin_product_category_path %>">新增</a>
            </div>
          </div>
        <%end%>

       <div class="col-md-12 margin-top-20">
         <table id="vweddingTable" class="table table-bordered table-hover dataTable">
           <thead>
             <tr>
               <th>商品分类</th>
               <th>品牌数</th>
               <th>商品数</th>
               <th>排序</th>
               <th>创建时间</th>
               <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <% @product_categories.each do |product_category|%>
                <tr>
                  <td><%=product_category.name %></td>
                  <td><%=product_category.brands.count %></td>
                  <td><%=product_category.products.count %></td>
                  <td><%=product_category.position %></td>
                  <td><%=product_category.created_at %></td>
                  <td>
                  <%=link_to '编辑', 'javascript:;', class: 'fgreen',data:{target: "editSuppliee",toggle: 'modals', title: '编辑商品分类',height: '300',
                     iframe:admin_product_category_path(product_category) } %>
                  <%= link_to '删除', frost_admin_product_category_path(product_category), method: :put, data: {confirm: '确定删除该分类？'} if product_category.normal? %>

                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
        <div class="pagination page width-auto"><%= page_entries_info @product_categories %></div>
        <%= paginate @product_categories %>
      </div>
    </div>
  </div>
<%end%>