<%provide(:title,"问题")%>

<div class="html question">
  <div class="topline">
    <p class="text">问题</p>
  </div>

  <div class="toptype">
    <a href="/wap/issues/pending" class="toptype_ls">
      <span class="toptype_tp red_o"><%= current_user.pending_solve_issues.count %></span>
      <p class="toptype_icon"><img src="/asset/images/item05a.png"></p>
      <p class="toptype_name">待我认领</p>
    </a>
    <a href="/wap/issues/new" class="toptype_ls">
      <!-- <span class="toptype_tp red_o"><%#= @issues.count %></span> -->
      <p class="toptype_icon"><img src="/asset/images/item05b.png"></p>
      <p class="toptype_name">发现问题</p>
    </a>
  </div>

  <p class="linetil">我认领的问题</p>
  <div class="tabnav cltabnav">
    <a href="<%= list_wap_issues_path %>" class="tab">
      <p class="cltab_num"><%= @solve_issues.count %></p>
      <p class="cltab_name">全部问题</p>
    </a>
    <a href="<%= list_wap_issues_path(level: '2') %>" class="tab">
      <p class="cltab_num red"><%= @solve_issues.claim.serious.count %></p>
      <p class="cltab_name">严重未处理</p>
    </a>
    <a href="<%= list_wap_issues_path(level: '1') %>"" class="tab">
      <p class="cltab_num blue"><%= @solve_issues.claim.general.count %></p>
      <p class="cltab_name">一般未处理</p>
    </a>
  </div>

  <p class="linetil">我发现的问题</p>
  <div class="dtlist dtlist_f">
    <a href="<%= my_wap_issues_path %>" class="item">
      <img src="/asset/images/item06a.png" class="dt_f_icon">
      <p class="dt_f_til">问题总计</p>
      <span class="dt_f_tp red_o udmid"><%= @issues.count %></span>
      <img src="/asset/images/arr-right.png" class="arr_r">
    </a>
    <a href="<%= my_wap_issues_path(status: '2') %>" class="item">
      <img src="/asset/images/item06b.png" class="dt_f_icon">
      <p class="dt_f_til">处理完成</p>
      <span class="dt_f_tp red_o udmid"><%= @issues.finished.count %></span>
      <img src="/asset/images/arr-right.png" class="arr_r">
    </a>
    <a href="<%= my_wap_issues_path(status: '3') %>" class="item">
      <img src="/asset/images/item06c.png" class="dt_f_icon">
      <p class="dt_f_til">未处理完成</p>
      <span class="dt_f_tp red_o udmid"><%= @issues.closed.count %></span>
      <img src="/asset/images/arr-right.png" class="arr_r">
    </a>
  </div>
  <br><br>
</div>
