<%provide(:title,"我发现的问题")%>

<div class="html question">
  <div class="topline">
    <a href="javascript:;" class="back" id="J_back" data-back='<%= wap_issues_url %>'></a>
    <p class="text">我发现的问题</p>
  </div>
  <div class="toptab">
    <a href="<%=my_wap_issues_path%>" class="tab <%= 'tab_active' if params[:status].blank? %>">全部问题</a>
    <a href="<%= my_wap_issues_path(status: '1')%>" class="tab <%= "tab_active" if params[:status] == '1' %> ">未处理</a>
    <a href="<%= my_wap_issues_path(status: '2')%>" class="tab <%= "tab_active" if params[:status] == '2' %> ">已处理</a>
    <a href="<%= my_wap_issues_path(status: '3')%>" class="tab <%= "tab_active" if params[:status] == '3' %> ">已关闭</a>
  </div>

  <div class="qcont">
    <% if @today_issues.count > 0 %>
      <p class="linetil">今日问题</p>
      <div class="queslist">
        <% @today_issues.each do |today_issue| %>
          <a href="<%= wap_issue_path(today_issue) %>" class="quesitem">
            <p class="qi_til"><%= today_issue.title %><span class="qi_sta <%= 'qi_sta_red' if today_issue.serious? %>"><%= today_issue.level_name %></span></p>
            <p class="qi_ty"><%= today_issue.category %></p>
            <p class="qi_tps"><span class="qi_tp qi_tp_name"><%= today_issue.user.name %>&ensp;&ensp;上报</span><span class="qi_tp qi_tp_time"><%= today_issue.created_at.strftime("%H:%M:%S")%></span></p>
            <p class="qi_do"><%= today_issue.status_name %></p>
            <p class="qi_do <%= today_issue.pending? ? 'qi_do_red' : (today_issue.finished? ? 'qi_do_green' : 'closed') %>"><%= today_issue.status_name %></p>
          </a>
        <% end %>
      </div>
    <% end %>

    <% if @yesterday_issues.count > 0 %>
      <p class="linetil">昨日问题</p>
      <div class="queslist">
        <% @yesterday_issues.each do |yesterday_issue| %>
          <a href="<%= wap_issue_path(yesterday_issue) %>" class="quesitem">
            <p class="qi_til"><%= yesterday_issue.title %><span class="qi_sta <%= 'qi_sta_red' if yesterday_issue.serious? %>"><%= yesterday_issue.level_name %></span></p>
            <p class="qi_ty"><%= yesterday_issue.category %></p>
            <p class="qi_tps"><span class="qi_tp qi_tp_name"><%= yesterday_issue.user.name %>&ensp;&ensp;上报</span><span class="qi_tp qi_tp_time"><%= yesterday_issue.created_at.strftime("%H:%M:%S")%></span></p>
            <p class="qi_do qi_do_green"><%= yesterday_issue.status_name %></p>
            <p class="qi_do <%= yesterday_issue.pending? ? 'qi_do_red' : (yesterday_issue.finished? ? 'qi_do_green' : 'closed') %>"><%= yesterday_issue.status_name %></p>
          </a>
        <% end %>
      </div>
    <% end %>

    <% if @day_issues.count > 0 %>
      <p class="linetil">2天前问题</p>
      <div class="queslist" id="issue_my"></div>
      <a href="javascript:;" class="botmore" id="J_more">点击加载更多</a>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    //加载更多
    var J_more = $('#J_more'),
      ajaxdata = {"page":1,"pagesize":7}, // 获取订单列表用的数据
      isajax = false, //设置开关 防止重复提交
      isdone = false; // 是否加载完成

    // 获取列表
    function getajax(){
      isajax = true;
      J_more.html('正在加载···');
      $.ajax({
        type: "GET",
        url: "/wap/issues/my",
        data: {'ajaxdata': ajaxdata, 'status': '<%= params[:status]%>'},
        dataType: "json",
        success: function(res){
          var dt = res.data, len = dt.length, str = '';
           for(var i=0; i<len; i++){
            var v = dt[i];

            var status_class = 'closed';
            if ( v.status == '已认领未处理' ) {
              status_class = 'qi_do_red';
            } else if(v.status == '已处理完成'){
              status_class = 'qi_do_green';
            }

            var level_class = ''
            if ( v.level == '严重' ) {
              level_class = 'qi_sta_red';
            }
            str += '<a href="<%= wap_issues_path %>/'+v.id+'" class="quesitem"><p class="qi_til">'+v.title+'<span class="qi_sta '+level_class+'">'+v.level+'</span></p><p class="qi_ty">'+v.category+'</p><p class="qi_tps"><span class="qi_tp qi_tp_name">'+v.user+'&ensp;&ensp;上报</span><span class="qi_tp qi_tp_time">'+v.time+'</span></p><p class="qi_do '+status_class+'">'+v.status+'</p></a>'
          }
          $('#issue_my').append(str)

          // 判断更新加载条件
          setTimeout(function(){
            isajax = false;
            if(len<ajaxdata.pagesize){ // 此处的8表示返回数据的长度，ruby渲染
              isdone = true;
              J_more.html('');
            }else{
              J_more.html('点击加载更多')
            };
          },100)
        }
      });
    };

    getajax(); // 获取首次订单数据

    J_more.click(function(){
      if(isajax || isdone){return false;}
      ajaxdata.page++;
      getajax();
    });
  });
</script>

<script type="text/javascript">
  window.main.hideBtmbar();
</script>