<% provide(:title,"待我认领的问题") %>

<div class="html question">
  <div class="topline">
    <a href="javascript:;" class="back" id="J_back" data-back='<%= wap_issues_url %>'></a>
    <p class="text">待我认领的问题</p>
  </div>

  <% if @today_solve_issues.count > 0 %>
    <p class="linetil">今日问题</p>
    <div class="queslist">
      <% @today_solve_issues.each do |today_solve_issue| %>
        <a href="<%= detail_wap_issue_path(today_solve_issue)%>" class="quesitem">
          <p class="qi_til"><%= today_solve_issue.title %><span class="qi_sta <%= 'qi_sta_red' if today_solve_issue.serious? %>"><%=today_solve_issue.level_name%></span></p>
          <p class="qi_ty"><%= today_solve_issue.category %></p>
          <p class="qi_tps"><span class="qi_tp qi_tp_name"><%= today_solve_issue.user.name %>&ensp;&ensp;上报</span><span class="qi_tp qi_tp_time"><%= today_solve_issue.created_at.strftime("%H:%M:%S")%></span></p>
        </a>
      <% end %>
    </div>
  <% end %>

  <% if @yesterday_solve_issues.count > 0 %>
    <p class="linetil">昨日问题</p>
    <div class="queslist">
      <% @yesterday_solve_issues.each do |yesterday_solve_issue| %>
        <a href="<%= detail_wap_issue_path(yesterday_solve_issue)%>" class="quesitem">
          <p class="qi_til"><%= yesterday_solve_issue.title %><span class="qi_sta <%= 'qi_sta_red' if yesterday_solve_issue.serious? %>"><%= yesterday_solve_issue.level_name%></span></p>
          <p class="qi_ty"><%= yesterday_solve_issue.category %></p>
          <p class="qi_tps"><span class="qi_tp qi_tp_name"><%= yesterday_solve_issue.user.name%>&ensp;&ensp;上报</span><span class="qi_tp qi_tp_time"><%= yesterday_solve_issue.created_at %></span></p>
        </a>
      <% end %>
    </div>
  <% end %>

  <% if @day_solve_issues.count > 0 %>
    <p class="linetil">2天前问题</p>
    <div class="queslist" id="issue_list"></div>
    <a href="javascript:;" class="botmore" id="J_more">点击加载更多</a>
  <% end %>
</div>

<script type="text/javascript">
  $(function(){
    //加载更多
    var J_more = $('#J_more'),
      ajaxdata = {"page":1,"pagesize":7}, // 获取订单列表用的数据
      isajax = false, //设置开关 防止重复提交
      isdone = false; // 是否加载完成

    // 获取列表
    function getajax(){
      isajax = true;
      J_more.html('正在加载···');
      $.ajax({
        type: "GET",
        url: "/wap/issues/pending",
        data: {'ajaxdata': ajaxdata},
        dataType: "json",
        success: function(res){
          var dt = res.data, len = dt.length, str = '';
          for(var i=0; i<len; i++){
            var v = dt[i];

            var level_class = ''
            if ( v.level == '严重' ) {
              level_class = 'qi_sta_red';
            }

            str += '<a href="/wap/issues/'+v.id+'/detail" class="quesitem"><p class="qi_til">'+v.title+'<span class="qi_sta '+level_class+'">'+v.level+'</span></p><p class="qi_ty">'+v.category+'</p><p class="qi_tps"><span class="qi_tp qi_tp_name">'+v.user+'&ensp;&ensp;上报</span><span class="qi_tp qi_tp_time">'+v.time+'</span></p></a>'
          }
          $('#issue_list').append(str)


          // 判断更新加载条件
          setTimeout(function(){
            isajax = false;
            if(len<ajaxdata.pagesize){ // 此处的8表示返回数据的长度，ruby渲染
              isdone = true;
              J_more.html('');
            }else{
              J_more.html('点击加载更多')
            };
          },100)
        }
      });
    };

    getajax(); // 获取首次订单数据

    J_more.click(function(){
      if(isajax || isdone){return false;}
      ajaxdata.page++;
      getajax();
    });
  });
</script>

<script type="text/javascript">
  window.main.hideBtmbar();
</script>
