<% content_for :main_content do %>
  <div class="main-content ">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= link_to '组织结构', admin_users_path %></li>
        <li><%= link_to '员工管理', admin_users_path %></li>
      </ul>
      <%#= render '/layouts/qrcode' %>
    </div>

    <div class="page-content">
      <%= form_for @search, url: admin_users_path, html: { method: :get } do |f| %>
        <div class="col-md-12 no-padding">
          <div class="col-md-2">
            <div class="input-group input-group-text">
              <%= f.text_field :name_or_no_like, placeholder:"员工编号/姓名",class: "col-xs-12" %>
            </div>
          </div>

          <div class="col-md-2">
            <%= f.select :department_id_eq, Department.normal.map{|dep| [dep.to_s, dep.id] }, {:include_blank=>'选择部门'}, class: "col-xs-12 cc" %>
          </div>

          <div class="col-md-2 margin-top">
            <%= f.submit '查询', class: 'btn btn-sm btn-filter btn-primary' %>
          </div>

          <div class="col-md-6">
            <a href="javascript:;" class="btn btn-primary btn-sm pull-right" data-target="addUser" data-toggle="modals" data-title="新增成员" data-height="1000" data-iframe="/admin/users/new">新增</a>
          </div>
        </div>
      <% end %>

      <div class="col-md-12 margin-top-20">
        <table id="vweddingTable"
          class="table table-bordered table-hover dataTable ">
          <thead>
            <tr>
              <!-- <th><input type='checkbox' class='checkbox toggle' style="display:inline;"/></th> -->
              <th>员工编号</th>
              <th>员工姓名</th>
              <th>登录账号</th>
              <th>所属部门</th>
              <!-- <th>员工类型</th> -->
              <th>性别</th>
              <th>手机号码</th>
              <th>状态</th>
              <th>创建时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <%= form_tag transfer_admin_users_path, id: "user-form", method: :post do %>
              <%= hidden_field_tag 'type'%>
              <% @users.each do |user| %>
                <tr>
                  <!-- <td><%#= check_box_tag 'user[user_ids][]', user.id%></td> -->
                  <td><%= user.no %></td>
                  <td><%= user.name %></td>
                  <td><%= user.login_name %></td>
                  <td><%= user.department.to_s %></td>
                  <!-- <td><%#= user.user_type_name %></td> -->
                  <td><%= user.gender_name %></td>
                  <td><%= user.mobile %></td>
                  <td><%= user.status_name %></td>
                  <td><%= user.created_at %></td>
                  <td>
                    <a href="javascript:;" class="fgreen" data-target="editUser" data-toggle="modals" data-title="编辑成员" data-height="1000" data-iframe="/admin/users/<%= user.id %>/edit">编辑</a>
                    <%= link_to '激活', normal_admin_user_path(user), method: :put, data: {confirm: '确定激活该成员？'} if user.frost? %>
                    <%= link_to '冻结', frost_admin_user_path(user), method: :put, data: {confirm: '确定冻结该成员？'} if user.normal? %>
                    <%#= link_to '密码重置', reset_admin_user_path(user), method: :put, data: {confirm: '确定为该成员进行密码重置？'} %>
                    <%#= link_to '同步', sync_admin_user_path(user), method: :put, data: {confirm: '确定同步？'} if user.unsync? || user.syncing? %>
                    <%#= link_to '删除', admin_user_path(user), method: :delete, data: {confirm: '确定删除？'} %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <div class="pagination page width-auto"><%= page_entries_info @users %></div>
        <%= paginate @users %>
      </div>
    </div>

  </div>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $('.use-transfer').click(function(){
      $('#user-form').submit();
    });

    $(':checkbox.toggle').on('click', function () {
      if ($(":checkbox:not(.toggle)")[0].checked) {
        $(this).attr('checked', false);
        $(":checkbox:not(.toggle)").each(function (i, checkbox) {
          checkbox.checked = false;
        });
      }else{
        $(this).attr('checked', true);
        $(":checkbox:not(.toggle)").each(function (i, checkbox) {
          checkbox.checked = true;
        });
      }
    });
  })
</script>
