<% content_for :main_content do %>
<style>
  .aa{
    margin-left: 5px;
  }
</style>
<div class="main-content ">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <%= render 'partials/home' %>
      <li><%= link_to '员工管理', admin_users_path %></li>
      <li><%= link_to '员工批量转移' %></li>
    </ul>
    <%#= render '/layouts/qrcode' %>
  </div>
  <div class="page-content">
    <div class="tabbable row">

      <%= form_tag deal_transfer_admin_users_path, validate: true, html: {class: 'form'}, method: :post do %>
        <%= hidden_field_tag 'user_ids', @user_ids %>
          <div class="col-xs-12">
             <div class="form-group">
              <label class="control-label">所属部门<span class="required-star">*</span></label>
              <div class="clearfix">
                <%= select( "department", "department_id", Department.all.map{|m| [m.name,m.id]}, {include_blank: '请选择部门'}, class: "col-xs-3" )%>
              </div>
            </div>
            <br/>
            <div class="form-group">
              <%= submit_tag '确认提交', class: 'btn btn-sm btn-primary form-submit' %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<% end %>
