<% provide(:title, "确认盘点") %>

<h4><%= @warehouse_check_item.product.product_category.name %></h4>
<h5><%= @warehouse_check_item.product.name %></h5>
<%= @warehouse_check_item.product.no %>



<h3><%= @warehouse_check_item.product.brand.try(:name) %> <%= @warehouse_check_item.product.product_category.try(:name) %></h3>
<%= @warehouse_check_item.product.name %><br>
No.<%= @warehouse_check_item.product.no %><br>
<%= @warehouse_check_item.product.quantity %>件在库 | <%= @warehouse_check_item.product.shop.name %>
<br><br>


<%= form_tag confirm_wap_warehouse_check_item_path(@warehouse_check_item), method: :post do %>
  实际盘点数量: <%= text_field_tag :real_qty %>
  <br><br>
  <%= submit_tag "提交盘点结果" %>
<% end %>