<% parent_class, sub_class = 'open active', 'open active' %>
  <ul class="nav nav-list sly">

    <li class="<%= 'parent_class' if controller_name =~ /corps|passwords/ %>">
      <%= left_nav_dropdown 'iconfont icon-shezhihuise', '系统设置' %>
      <ul class="submenu" style="<%= 'display: block' if controller_name =~ /corps|passwords/ %>">
        <%= link_to_left_nav('修改密码', new_admin_password_path, controller_name == 'passwords') %>
      </ul>
    </li>

    
    <% if can?(2) || can?(3) %>
      <li class="<%= parent_class if controller_name =~ /users|roles/ %>">
        <%= left_nav_dropdown 'iconfont icon-jiaoseguanlihuise', '组织结构' %>
        <ul class="submenu" style="<%= 'display: block' if controller_name =~ /users|roles/ %>">
          <% if can?(2) %>
            <%= link_to_left_nav('员工管理', admin_users_path, controller_name == 'users') %>
          <% end %>
          <% if can?(3) %>
            <%= link_to_left_nav('角色管理', admin_roles_path, controller_name == 'roles') %>
          <% end %>
        </ul>
      </li>
    <% end %>

          <% if can?(4) || can?(5) || can?(6) || can?(7) || can?(8)%>
      <li class="<%=parent_class if %W(product_categories brand_categories brands tags guide_infos).include?(controller_name) %>">
       <%= left_nav_dropdown 'icon-file','基础数据' %>
         <ul class="submenu" style="<%='display: block' if %W(product_categories brand_categories brands tags guide_infos).include?(controller_name) %>">
          <% if can?(4) %>
           <%=link_to_left_nav('商品类型', admin_product_categories_path,controller_name == 'product_categories' )%>
          <% end %>
          <% if can?(5) %>
           <%=link_to_left_nav('品牌类型',admin_brand_categories_path,controller_name == 'brand_categories')%>
          <% end %>
          <% if can?(6)%>
            <%=link_to_left_nav('品牌管理', admin_brands_path,controller_name == 'brands' )%>
          <% end %>
          <% if can?(7)%>
            <%=link_to_left_nav('标签管理', admin_tags_path,controller_name == 'tags' )%>
          <% end %>
          <% if can?(8)%>
            <%=link_to_left_nav('帮助信息管理', admin_guide_infos_path,controller_name == 'guide_infos' )%>
          <% end %>

         </ul>
      </li>
    <%end%>

    <% if can?(9) || can?(10) %>
      <li class="<%=parent_class if %W(shops shop_deposit_logs warehouses).include?(controller_name) %>">
       <%= left_nav_dropdown 'iconfont icon-shujuhongse','商铺管理' %>
         <ul class="submenu" style="<%='display: block' if %W(shops shop_deposit_logs warehouses).include?(controller_name) %>">
          <% if can?(9) %>
           <%=link_to_left_nav('商铺管理', admin_shops_path, controller_name == 'shops' )%>
          <% end %>
          <% if can?(10) %>
           <%=link_to_left_nav('保证金流水',admin_shop_deposit_logs_path, controller_name == 'shop_deposit_logs' )%>
          <% end %>
         </ul>
      </li>
    <%end%>


  </ul>
