<% parent_class, sub_class = 'open active', 'open active' %>
  <ul class="nav nav-list sly">

    <li class="<%= 'parent_class' if controller_name =~ /corps|passwords/ %>">
      <%= left_nav_dropdown 'iconfont icon-shezhihuise', '系统设置' %>
      <ul class="submenu" style="<%= 'display: block' if controller_name =~ /corps|passwords/ %>">
        <%= link_to_left_nav('修改密码', new_admin_password_path, controller_name == 'passwords') %>
      </ul>
    </li>

    <li class="<%= parent_class if controller_name =~ /users|roles/ %>">
      <%= left_nav_dropdown 'iconfont icon-jiaoseguanlihuise', '组织结构' %>
      <ul class="submenu" style="<%= 'display: block' if controller_name =~ /users|roles/ %>">
        <%= link_to_left_nav('员工管理', '', controller_name == 'users') %>
        <%= link_to_left_nav('角色管理', '', controller_name == 'roles') %>
      </ul>
    </li>

  </ul>
