<% parent_class, sub_class = 'open active', 'open active' %>

<ul class="nav nav-list sly">
  <li class="<%= 'parent_class' if controller_name =~ /passwords/ %>">
    <%= left_nav_dropdown 'iconfont icon-shezhihuise', '系统设置' %>
    <ul class="submenu" style="<%= 'display: block' if controller_name =~ /passwords/ %>">
      <%= link_to_left_nav('修改密码', new_admin_password_path, controller_name == 'passwords') %>
    </ul>
  </li>

  <li class="<%= parent_class if current_page?(admin_currencies_path) %>">
    <a href="<%= admin_currencies_path %>">
      <i class="icon-align-center"></i>
      <span class="menu-text">货币</span>
    </a>
  </li>


</ul>
